<div class="alert alert-success">

    
## Цикл for


Очень часто одно и то же действие надо выполнить для набора однотипных данных. Например, преобразовать все строки в списке в верхний регистр. Для выполнения таких действий в Python используется цикл for.

Цикл for перебирает по одному элементы указанной последовательности и выполняет действия, которые указаны в блоке for, для каждого элемента.

Примеры последовательностей элементов, по которым может проходиться цикл for:

- строка
- список
- словарь
- Функция range
- любой итерируемый объект

   <div class="alert alert-danger"> 
    Для понимания может помочь проект <a href='https://pythontutor.com'> pythontutor </a>. Там имеется визуализация кода, позволяющая увидеть, что происходит на каждом этапе выполнения кода. На сайте pythontutor можно загружать свой код.
</div>
       
Цикл for может работать с любой последовательностью элементов. Например, выше использовался список и цикл перебирал элементы списка. Аналогичным образом for работает с кортежами.
    
</div>

*Напечатать элементы списка*

Без цикла:

In [2]:
fruits = ["apple", "banana", "cherry1"]
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
cherry1

Можно копировать и вставлять, но если строк будет 1000, 10000, 1000000 ...

С использованием цикла:

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

Можно прочитать это следующим образом: "Для каждого элемента **x** списка **fruits** применить операцию **print(x)**".

Сначала x принимает значение apple, потом banana и так далее.

*Напечатать каждый символ строки отдельно*

In [4]:
for x in "banana":
  print(x, end='\n')

b
a
n
a
n
a

In [6]:
for x in "banana":
  # вывод каждого символа строки с разделителем +
  print(x, end='/')

b/a/n/a/n/a/

*Преобразовать первый символ каждой строки в верхний регистр. Преобразованный список сохранить отдельно*

In [8]:
# исходный список
words = ['иванов','петров','сидоров','новиков']
# новый список
new_words = []

# Для (for) каждого элемента (el) списка words 
for el in words:
    # Выполнить операции:
    # Преобразовать первую букву в верхний регистр 
    new_words.append(el.capitalize())

print(words)
print(new_words)

['иванов', 'петров', 'сидоров', 'новиков']
['Иванов', 'Петров', 'Сидоров', 'Новиков']

*Вывести список каждого отдела организации*

In [29]:
# Словарь с фамилиями сотрудников отделов
dict_staff = {'Отдел сбыта': ['Ильина', 
                              'Куликов',
                              'Сергиенко',
                              'Корепин', 
                              'Климов', 
                              'Попкова'],
             'Вице-президенты':['Гладких'],
             'Начальники отделов':['Новиков'],
             'Координаторы':['Ожогина']
             }
# Проход по словарю (по ключам)
for k in dict_staff.keys():
    # Печать ключа словаря (отдел)
    print(k)
    # Разделитель
    print('-' * len(k))
    # Печать значения по ключу (список отдела)
    print(dict_staff[k])
    # Пустая строка
    print()

Отдел сбыта
-----------
['Ильина', 'Куликов', 'Сергиенко', 'Корепин', 'Климов', 'Попкова']

Вице-президенты
---------------
['Гладких']

Начальники отделов
------------------
['Новиков']

Координаторы
------------
['Ожогина']

Метод items позволяет проходиться в цикле сразу по паре ключ-значение:

In [30]:
# Словарь с фамилиями сотрудников отделов
dict_staff = {'Отдел сбыта': ['Ильина', 
                              'Куликов',
                              'Сергиенко',
                              'Корепин', 
                              'Климов', 
                              'Попкова'],
             'Вице-президенты':['Гладких'],
             'Начальники отделов':['Новиков'],
             'Координаторы':['Ожогина']}
# Проход по словарю (по ключам)
for key,value in dict_staff.items():
    # Печать ключа словаря (отдел)
    print(key)
    # Разделитель
    print('-' * 10)
    # Печать значения по ключу (список отдела)
    print(value)
    # Пустая строка
    print()

Отдел сбыта
----------
['Ильина', 'Куликов', 'Сергиенко', 'Корепин', 'Климов', 'Попкова']

Вице-президенты
----------
['Гладких']

Начальники отделов
----------
['Новиков']

Координаторы
----------
['Ожогина']

## Функция range

Возвращает числовой диапазон
     
Синтаксис:

**range(start,end,step)**

**start** - начальное значение диапазона

**end** - конечное значение диапазона. **В диапазон не включается**

**step** - шаг изменнения (по-умолчанию 1)

Формируется диапазон от значения **start** до значения **end-1**.


Используется, когда необходимо цикл for применить к числовому промежутку.

In [31]:
range(9)

range(0, 9)

In [32]:
# За начальное значение диапазона берется 0
for i in range(3):
    print(i)

0
1
2

In [33]:
for i in range(23, 26):
    print(i)

23
24
25

In [37]:
# Печать диапазона с шагом 2
for i in range(1, 10, 2):
    print(i, end=' ')

1 3 5 7 9

### Примеры использования range

При использовании оператора **in**  в цикле мы можем работать только с тем экземпляром итерируемого объекта, на который он указывает. А если необходимо использовать индексы, то нужно брать range.

*Напечатать индексы четных элементов*

In [39]:
# Исходный список
df = [1, 4, 5, 7, 9, 8, 2, 4]
# Пустой список для четных индексов
even_indexes = []

for index in range(len(df)):
    # У четного числа остаток от деления на 0 равен 0 (% остаток от деления)
    if df[index] % 2 == 0:
        even_indexes.append(index)
print(f'Исходный список: {df}')
print(f'Индексы четных элементов: {even_indexes}')

Исходный список: [1, 4, 5, 7, 9, 8, 2, 4]
Индексы четных элементов: [1, 5, 6, 7]

*Из заданной строки сформировать новую, где каждый символ есть максимальный символ среди соседей символа в исходной строке.*

Вход: ромашка
Выход: ррошшшк

In [59]:
input_string = input('Введите строку: ')
# Длина строки
count_chars = len(input_string)
output_string = ''
# Цикл для диапазона индексов от 0 до длина строки-1
for index in range(0,count_chars):
    # Если индекс от 1 до предпоследнего
    if index > 0 and index < count_chars-1:
        # Вычислить максимальный среди окружающих
        s = max(input_string[index],input_string[index-1],input_string[index+1])
        output_string += s
    # Если индекс равен 0, то сравниваем с соседом справа
    elif index == 0:
        s = max(input_string[index],input_string[index+1])
        output_string += s
    else:
        # Иначе сравниваем с соседом слева
        s = max(input_string[index],input_string[index-1])
        output_string += s
print(output_string)

Введите строку: ромашка
ррошшшк

## Вложенные циклы

Вложенный цикл - это цикл внутри цикла.

"Внутренний цикл" будет выполняться один раз для каждой итерации "внешнего цикла".:

In [62]:
adj = ["красный", "большой", "вкусный", "зрелый"]
fruits = ["яблоко", "банан", "вишня", "киви"]

for a in adj:
    for f in fruits:
        print(a,' ', f)

красный   яблоко
красный   банан
красный   вишня
красный   киви
большой   яблоко
большой   банан
большой   вишня
большой   киви
вкусный   яблоко
вкусный   банан
вкусный   вишня
вкусный   киви
зрелый   яблоко
зрелый   банан
зрелый   вишня
зрелый   киви

*Напечатать таблицу умножения для чисел от 2 до 5*

In [63]:
for x in range (2,10):
    for y in range(1,10): 
        print(f'{x} * {y} = {x*y}')   # относится к циклу по y
    print('-'*10)                     # относится к циклу по x

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------

### Прерывание цикла: break

Используется в случае принудительного выхода из цикла

In [64]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    #Если элемент равен 'banana', то прервать цикл
    if x == "banana":
        break
    print(x)  
print('Game over')

apple
Game over

### Пропуск части цикла: continue

Используется в случае необходимости принудительно начать следующий шаг цикла, пропустив часть строк в его теле.

In [65]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    # Если элемент равен 'banana', то не выполнять дальнейшие инструкции цикла, 
    # а перейти к обработке следующего элемента
    if x == "banana":
        continue
    print(x)

apple
cherry

*Из диапазона от 1 до 10 включительно вывести только те числа, которые не делятся ни на 2, ни на 3.*

Пояснение: В данном примере надо пропускать числа, которые делятся на 2 и 3

In [72]:
for i in range(1, 11):
    if i % 2 == 0 or i % 3 == 0:
        continue
    print(i)

1
5
7

## else в цикле

else-код выполнится после того, как пройдут все витки цикла

In [55]:
fruits = ["apple", "cherry","orange"]
for x in fruits:
    # Если элемент равен 'banana', то прервать цикл
    if x == "banana":
        break
    print(x)
else:
    print('Успешное окончание цикла. Все итерации выполнены')
print('Программа окончена')

apple
cherry
orange
Успешное окончание цикла. Все итерации выполнены
Программа окончена

В данном примере **break** не выполнился, поэтому ветка **else** выполнилась. В случае срабатывания **break**, else не выполняется.

In [57]:
fruits = ["apple", "cherry", "banana", "orange"]
for x in fruits:
    # Если элемент равен 'banana', то прервать цикл
    if x == "banana":
        break
    print(x)
else:
    print('Успешное окончание цикла. Все итерации выполнены')
print('Программа окончена')

apple
cherry
Программа окончена

## Примеры решения задач

### Cписок целых чисел

Имеется список из целых чисел. 
Необходимо создать новый список, в котором содержатся только те числа, которые больше 5 по модулю.

In [20]:
my_list = [23, 4, -9, 7, -12, -3]
new_list = []
for x in my_list:
    if abs(x) > 5:
        new_list.append(x)
print(new_list)

[23, -9, 7, -12]

### Верхний регистр

В заданной строке все символы английского алфвита перевести в верхний регистр

Ввод: Сетевая карта устройства имеет mac-адрес aa12:456d:fe43

Вывод: Сетевая карта устройства имеет MAC-адрес AA12:456D:FE43

In [21]:
ord('a')

97

In [22]:
ord('z')

122

In [25]:
my_str = 'Сетевая карта устройства имеет mac-адрес aa12:456d:fe43'
new_str = ''

for s in my_str:
    if ord(s) >= 97 and ord(s)<=122:
        s = s.upper()
    new_str += s
print(new_str)

Сетевая карта устройства имеет MAC-адрес AA12:456D:FE43

In [26]:
s = 'Сетевая карта устройства имеет mac-адрес aa12:456d:fe43'
new_s =''

for x in s:
    if 97<= ord(x) <= 122:
        new_s = new_s + x.upper()
    else:
        new_s = new_s + x
new_s

'Сетевая карта устройства имеет MAC-адрес AA12:456D:FE43'

### Список сотрудников

Вывести Фамилию, инициалы и год рождения сотрудников, которые родились в 20 веке

Ввод: Глуховская Виталия Брониславовна, 21.01.1983 Вывод: Глуховская В. Б. - 1983

In [77]:
dict_empl = {'gvb': 'Глуховская Виталия Брониславовна, 21.01.1983',
             'nvf': 'Наумов Валентин Филатович, 12.05.2000', 
             'sga': 'Солопов Григорий Анатольевич, 11.11.1972',
             'mla':'Моисеева Лера Абрамовна, 05.06.2001'
            }

In [78]:
for key, value in dict_empl.items():
    year = value.split(',')[1].split('.')[2] 
    if 1900 < int(year) <= 2000:
        temp_fio = value.split(',')[0]
        pos_fi = temp_fio.find(' ') + 2
        pos_second_name = temp_fio.rfind(' ') + 1
        fio = temp_fio[:pos_fi] + '. ' + temp_fio[pos_second_name] + '.'
        result = fio + ' - ' + year
        print(result)

Глуховская В. Б. - 1983
Наумов В. Ф. - 2000
Солопов Г. А. - 1972

In [91]:
empl = list(dict_empl.values())
for e in empl:
    q = e.split(',')
    l_n, f_n, m_n = q[0].split()
    y_b = q[1].split('.')[2]
    if int(y_b) <= 2000:
        print(f'{l_n} {f_n[0]}. {m_n[0]}. - {y_b}')

Глуховская В. Б. - 1983
Наумов В. Ф. - 2000
Солопов Г. А. - 1972

### Операция "Ы"

Случайным образом распределить арестованных на 15 суток граждан по требуемым видам работ. Нераспределенные граждане отправляются на уборку территории.

In [4]:
prisoners = ['Алкоголик_1', 'Тунеядец_1','Хулиган_1',
             'Алкоголик_2', 'Тунеядец_2','Хулиган_2',
            'Алкоголик_3', 'Тунеядец_3','Хулиган_3',
            'Алкоголик_4', 'Тунеядец_4','Хулиган_4'
            ]

In [5]:
work_orders = {'Песчаный карьер': 2, 
               'Цементный завод': 3,
               'Погрузка угля':2,
               'Уборка конюшен':1,
               'Мясокомбинат': 0
              }

### "Переводчик"

Сотрудники часто забывают переключать клавиатуру с ангийской раскладки на русскую. А так как не все владеют "слепым" методом печати, то обнаруживается это, когда набрана половина страницы текста. Поэтому они попросили сотрудника **<ваше_имя>**, разбирающегося в программировании, создать скрипт, восстанавливающий русский текст. Очень накладно все время перепечатывать.

In [49]:
rus = "йцукенгшщзхъфывапролджэячсмитьбюЙЦУКЕНГШЩЗХЪФЫВАПРОЛДЖЭЯЧСМИТЬБЮ "
lat = "qwertyuiop[]asdfghjkl;'zxcvbnm,./QWERTYUIOP{}ASDFGHJKL:\"ZXCVBNM<>?"

In [50]:
my_str = "Ghjuhfvvbhjdfybt - 'nj dnjhfz uhfvjnyjcnm"
new_str = ''
for s in my_str:
    pos = lat.find(s)
    new_str += rus[pos]
print(new_str)

Ррограммирование   это вторая грамотность

In [56]:
rus_lat = {'q':'й','w':'ц'}

In [57]:
ms = 'qw'
ms1 = ''

In [58]:
for el in ms:
    ms1 += rus_lat[el]
print(ms1)

йц

### Делители *

Работники аналитического отдела в свободное время не курят, а решают на спор разные математические задачи.
Сегодня на спор искали все делители случайных чисел. Для простых примеров решения находились быстро (для числа 6 это: 1, 2, 3, 6; а для числа 16 это: 1, 2, 4, 8, 16). Но когда начались примеры посерьезнее, то опять без сотудника, разбирающегося в программировании <ваше имя> не обошлось.

Варианты посложнее были, например такие: 23456, 150194200, 25604557902344

Вручную решить сложновато. Составьте скрипт для решения. Результат представьте в виде списка, отсортированного по возрастанию.

Вывод четных чисел
Напишите программу, которая выводит чётные числа из заданного списка и останавливается, если встречает число 237.

numbers = [
       386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
       399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
          ]

In [66]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 
           978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 
           412, 566, 826, 248, 866, 950, 626, 949, 687, 217]

In [71]:
# Виктор
for x in numbers:
    if x == 237:
        break
    if x % 2 == 0:
        print(x, end=' ')

386 462 418 344 236 566 978 328 162 758 918

In [70]:
# Дарья
for i in numbers:
    if i % 2 == 0:
        print(i, end=' ')
    elif i == 237:
        break

386 462 418 344 236 566 978 328 162 758 918