In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re
from glob import glob

## Чтение данных

In [2]:
#file_amo = 'df_amocrm_sample_export_2019_01_01_2024-02-20.csv'

In [3]:
file_amo = glob('df_amocrm_sample_export_*.csv')[0]

In [4]:
file_amo

'df_amocrm_sample_export_2019_01_01_2024-02-20.csv'

In [5]:
date_int = re.search(r'_\d+[_-]\d+[_-]\d+[_-]\d+[_-]\d+[_-]\d+',file_amo).group(0)

In [6]:
date_int

'_2019_01_01_2024-02-20'

In [7]:
df_amo= pd.read_csv(file_amo, encoding='utf-8')

In [8]:
df_values= pd.read_csv('df_list_of_values.csv', encoding='utf-8')

In [9]:
df_sample= pd.read_csv('df_certificates_list_sample.csv', encoding='utf-8')

In [10]:
df_archive= pd.read_excel('df_codes_archieve.xlsx')

In [11]:
#Вывод таблицы во всю ширину
pd.set_option('display.max_columns', None)
df_amo.head(5)

,ID,Этап сделки,Бюджет,Дата создания сделки,Дата закрытия,DELIVERY_PRICE,Стоимость доставки,PRODUCTS,PRICE,SUBTOTAL,Выручка от клиента,Направление (вид сертификата),Номер сертификата,КОРНЕВАЯ СДЕЛКА,Номер 2-го сертификата,Номер 3-го сертификата,Номер 4-го сертификата,Номер 5-го сертификата,Сертификат на тренера,Статус погашения,Дата получения услуги,Стоимость закупки
0,26909005,Успешно реализовано,11000,20.02.2024 13:04:25,20.02.2024 13:58:00,0.0,NaN,"Снегоходы (Варианты: 1 снежик на 1 час, Бумажн...",11000.0,11000.0,11000,Снегоходы,VSN1X 4054877,NaN,VSN1X 9015675,NaN,NaN,NaN,NaN,NaN,NaN,5500
1,26907861,Успешно реализовано,3000,20.02.2024 11:51:49,20.02.2024 12:15:00,0.0,NaN,катание на картинге (Варианты: 20 минут катани...,3000.0,3000.0,3000,Картинг,VKA2 3075718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2200
2,26907137,Успешно реализовано,5000,20.02.2024 11:02:31,20.02.2024 11:43:00,0.0,NaN,Подарочный сертификатна вейк за катером (Выбер...,5000.0,5000.0,5000,Вейксёрф и вейк за катером,VWS25 3053861,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26901359,Успешно реализовано,5920,19.02.2024 16:24:06,20.02.2024 11:33:00,0.0,NaN,Стрельба из боевого оружия (Варианты: Курс «на...,5000.0,5000.0,5920,Тир. Стрельба из боевого оружия,GU 4074745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4250
4,26900417,Успешно реализовано,7500,19.02.2024 15:16:07,19.02.2024 15:35:00,0.0,NaN,Заезд на Дрифт Трайке (Варианты: Заезд 60 мину...,7500.0,7500.0,7500,Мото Дрифт-трайк,VDT60 4059262,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6750

## Предобработка архивных префиксов

In [12]:
df_archive.head()

  Префикс
0   2SU24
1   2SU60
2   2WP24
3      МТ
4     МТТ

In [13]:
df_archive['Префикс'] = df_archive['Префикс'].str.upper()

In [14]:
df_archive = df_archive.dropna(subset=['Префикс'])

In [15]:
df_archive = df_archive.reset_index(drop=True)

In [16]:
df_archive.rename(columns = {'Префикс':'prefix'}, inplace = True )

In [17]:
df_archive.head()

  prefix
0  2SU24
1  2SU60
2  2WP24
3     МТ
4    МТТ

In [18]:
print(sorted(list(df_archive['prefix'].unique())))

['2SU24', '2SU60', '2WP24', 'AC2', 'AC30', 'AC60', 'AT10', 'AT15', 'AT30', 'AT4', 'AT4K', 'AT6', 'AT60', 'AT6K', 'BC1', 'BC2', 'BCR', 'BF180', 'BF40', 'BF90', 'BG', 'BGH', 'BGK', 'BGKH', 'CS20', 'CS30', 'CS40', 'CS60', 'CSR60', 'CW1', 'CW2', 'CWH', 'DRC2H', 'DT230', 'DT240', 'DT260', 'DT30', 'DT32', 'DT40', 'DT60', 'DTM', 'EB1X', 'EB2X', 'EB4X', 'ED3H', 'EDС', 'EF30', 'EF60', 'EFL30', 'EFL60', 'ES130', 'ES160', 'ES230', 'ES260', 'ESG1', 'ESG2', 'ESG4', 'F1', 'F1K', 'F2', 'FD', 'FDK', 'FJ30', 'FM30', 'FM45', 'FM60', 'FMCS30', 'FMCS45', 'FMCS45R', 'FMCS60', 'FMP15', 'FMP30', 'FMS30', 'FMS45', 'FMS60', 'FR', 'FR2', 'FROG1', 'FROG3', 'FROGM', 'GC1', 'GC2', 'GR1', 'GR1X1', 'GR2', 'GR2X1', 'GU', 'GU2', 'HB20', 'HB30', 'HY30', 'HY60', 'ICE1', 'ICE2', 'ID', 'KA2', 'KA4', 'KA6', 'KAT', 'KAT2', 'KAT4', 'KR1', 'KR2', 'KR3', 'KR4', 'KR6', 'KS', 'KS2', 'KV1X1', 'KV2X1', 'KVP1X1', 'KVP2X1', 'KVS', 'KW', 'KW2', 'KYT', 'KYT2', 'LB1X', 'LB2X', 'LB4X', 'LL1H', 'LL1HP', 'LL2H', 'LL2HP', 'LL3H', 'MB', 'MB2', 'MB2X', 'MF20', 'MF30', 'MF60', 'MT10', 'MT10B', 'MT2', 'MT2B', 'MT5', 'MT5B', 'OW2', 'OWG', 'OWI', 'P1', 'P1G', 'P1P', 'P2', 'P2G', 'P2P', 'PB', 'PB2', 'PB2X', 'PH', 'PP', 'PP2', 'PPP', 'PPT', 'PR20', 'PR30', 'PR40', 'PR60', 'PS', 'RB15', 'RB20', 'RB30', 'RB40', 'RB60', 'RC', 'RCV', 'RJ', 'RJ1X', 'RJ2', 'RJ2X', 'RJXX', 'RS', 'RT', 'RTV', 'RX', 'RXV', 'S', 'S2', 'SC', 'SG10', 'SG7', 'SH', 'SH2', 'SHH', 'SK2', 'SKI20', 'SKI40', 'SKI60', 'SKT1', 'SKT10', 'SKT2', 'SKT4', 'SKT6', 'SKV', 'SN1X', 'SN1X1', 'SN2X', 'SN2X1', 'SP', 'SP2', 'ST', 'SU24', 'SU60', 'TR', 'TR1', 'TR1K', 'TR2', 'TR2K', 'TX', 'UC', 'UN', 'UNI', 'VD', 'W&F', 'WP15', 'WP2H', 'WP30', 'WP60', 'WS20', 'WS30', 'WS40', 'WS60', 'WSN40', 'WSN60', 'WTF2', 'WTF3', 'YAS', 'YEР', 'YHD', 'МТ', 'МТТ']

При сортировке обнаружилась кириллица в префиксах

In [19]:
alf_ciril = 'Е Т О Р А Н К Х С В М'.split()
alf_latin = 'E T O P A H K X C B M'.split()

In [20]:
def replace_cirillic_latin(x):
    try:
        v = x
        new_v = ''
        for i in range(len(v)):
            simv = v[i]
            if simv in alf_ciril:
                pos = alf_ciril.index(simv)
                simv = alf_latin[pos]
            new_v += simv
    except:
        pass
    return new_v

In [21]:
df_archive['prefix'] = df_archive.apply(lambda x: replace_cirillic_latin(x['prefix']),axis=1)

Удаление OLD из префикса

In [22]:
df1 = df_archive[df_archive['prefix'].str.contains('OLD')]

In [23]:
df1

Empty DataFrame
Columns: [prefix]
Index: []

In [24]:
df1.shape

(0, 1)

In [25]:
#df_archive.replace(r' (OLD)|(OLD) ',r'',regex=True,inplace=True)
df_archive.replace(r'( *OLD *)',r'',regex=True,inplace=True)

In [26]:
df1.head()

Empty DataFrame
Columns: [prefix]
Index: []

In [27]:
#df_archive.iloc[246]['prefix']

In [28]:
df1.shape

(0, 1)

Удаление **+ Карта Тренер**, **+T**

In [29]:
df_archive.replace(r'( *\+ *\S* *[Т|T]\S*)',r'T',regex=True,inplace=True)

In [30]:
print(sorted(list(df_archive['prefix'].unique())))

['2SU24', '2SU60', '2WP24', 'AC2', 'AC30', 'AC60', 'AT10', 'AT15', 'AT30', 'AT4', 'AT4K', 'AT6', 'AT60', 'AT6K', 'BC1', 'BC2', 'BCR', 'BF180', 'BF40', 'BF90', 'BG', 'BGH', 'BGK', 'BGKH', 'CS20', 'CS30', 'CS40', 'CS60', 'CSR60', 'CW1', 'CW2', 'CWH', 'DRC2H', 'DT230', 'DT240', 'DT260', 'DT30', 'DT32', 'DT40', 'DT60', 'DTM', 'EB1X', 'EB2X', 'EB4X', 'ED3H', 'EDC', 'EF30', 'EF60', 'EFL30', 'EFL60', 'ES130', 'ES160', 'ES230', 'ES260', 'ESG1', 'ESG2', 'ESG4', 'F1', 'F1K', 'F2', 'FD', 'FDK', 'FJ30', 'FM30', 'FM45', 'FM60', 'FMCS30', 'FMCS45', 'FMCS45R', 'FMCS60', 'FMP15', 'FMP30', 'FMS30', 'FMS45', 'FMS60', 'FR', 'FR2', 'FROG1', 'FROG3', 'FROGM', 'GC1', 'GC2', 'GR1', 'GR1X1', 'GR2', 'GR2X1', 'GU', 'GU2', 'HB20', 'HB30', 'HY30', 'HY60', 'ICE1', 'ICE2', 'ID', 'KA2', 'KA4', 'KA6', 'KAT', 'KAT2', 'KAT4', 'KR1', 'KR2', 'KR3', 'KR4', 'KR6', 'KS', 'KS2', 'KV1X1', 'KV2X1', 'KVP1X1', 'KVP2X1', 'KVS', 'KW', 'KW2', 'KYT', 'KYT2', 'LB1X', 'LB2X', 'LB4X', 'LL1H', 'LL1HP', 'LL2H', 'LL2HP', 'LL3H', 'MB', 'MB2', 'MB2X', 'MF20', 'MF30', 'MF60', 'MT', 'MT10', 'MT10B', 'MT2', 'MT2B', 'MT5', 'MT5B', 'MTT', 'OW2', 'OWG', 'OWI', 'P1', 'P1G', 'P1P', 'P2', 'P2G', 'P2P', 'PB', 'PB2', 'PB2X', 'PH', 'PP', 'PP2', 'PPP', 'PPT', 'PR20', 'PR30', 'PR40', 'PR60', 'PS', 'RB15', 'RB20', 'RB30', 'RB40', 'RB60', 'RC', 'RCV', 'RJ', 'RJ1X', 'RJ2', 'RJ2X', 'RJXX', 'RS', 'RT', 'RTV', 'RX', 'RXV', 'S', 'S2', 'SC', 'SG10', 'SG7', 'SH', 'SH2', 'SHH', 'SK2', 'SKI20', 'SKI40', 'SKI60', 'SKT1', 'SKT10', 'SKT2', 'SKT4', 'SKT6', 'SKV', 'SN1X', 'SN1X1', 'SN2X', 'SN2X1', 'SP', 'SP2', 'ST', 'SU24', 'SU60', 'TR', 'TR1', 'TR1K', 'TR2', 'TR2K', 'TX', 'UC', 'UN', 'UNI', 'VD', 'W&F', 'WP15', 'WP2H', 'WP30', 'WP60', 'WS20', 'WS30', 'WS40', 'WS60', 'WSN40', 'WSN60', 'WTF2', 'WTF3', 'YAS', 'YEP', 'YHD']

Имеются двойные префиксы MT/MT2 и MT10/MT10B

In [31]:
archive_prefix = list(df_archive['prefix'].unique())

## Предобработка активных префиксов

In [32]:
df_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              198 non-null    int64
 1   Activity Name   198 non-null    object
 2   Value           196 non-null    object
 3   Status          198 non-null    object
 4   Prefix          198 non-null    object
 5   Purchase Price  167 non-null    float64
 6   Sale Price      196 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.0+ KB

In [33]:
df_values.columns = df_values.columns.str.lower()

In [34]:
df_values.columns = df_values.columns.str.strip()

In [35]:
df_values.columns = df_values.columns.map(lambda x: re.sub( '(?<!^)(?=[ ])', '_', x ).lower())
df_values.columns = df_values.columns.map(lambda x: re.sub( ' ', '', x ))

In [36]:
df_values.head(5)

,id,activity_name,value,status,prefix,purchase_price,sale_price
0,1,Вейксёрф и вейкборд,2 часа вейксерфинга или вейкбординга\nна волне...,on_air,WS2,NaN,22500.0
1,2,Вейксёрф и вейкборд,1 час вейксерфинга или вейкбординга\nна волне ...,on_air,WS1,NaN,11000.0
2,3,Вейксёрф и вейкборд,40 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS40,NaN,7500.0
3,4,Вейксёрф и вейкборд,30 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS30,NaN,5500.0
4,5,Вейксёрф и вейкборд,25 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS25,NaN,5000.0

In [37]:
df_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              198 non-null    int64
 1   activity_name   198 non-null    object
 2   value           196 non-null    object
 3   status          198 non-null    object
 4   prefix          198 non-null    object
 5   purchase_price  167 non-null    float64
 6   sale_price      196 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.0+ KB

In [38]:
print(sorted(list(df_values['prefix'].unique())))

['2MWP24', '2WP24', 'AB', 'AB4', 'AB4G', 'ABG', 'AC2', 'AC30', 'AC60', 'AT10', 'AT15', 'AT30', 'AT4', 'AT4K', 'AT6', 'AT60', 'AT6K', 'BF180', 'BF40', 'BF90', 'BG', 'BGH', 'BGK', 'BGKH', 'CS20', 'CS30', 'CS40', 'CS60', 'CSR60', 'CW1', 'CW1T', 'CW2', 'CW2T', 'CWH', 'DRC2H', 'DRCH', 'DT30', 'DT32', 'DT40', 'DT42', 'DT60', 'DT62', 'DTM', 'EB1x', 'EB2x', 'EB4x', 'ED3H', 'EDС', 'EFL30', 'EFL60', 'FR', 'FR2,', 'FRK', 'FRT', 'FRTK', 'GC1', 'GC2', 'GR1', 'GR2', 'GU', 'GU2', 'HB30', 'HB60', 'HY30', 'HY60', 'KA2', 'KA4', 'KA6', 'KAT', 'KAT2', 'KAT4', 'KS', 'KS2', 'KV1X1', 'KV2X1', 'KVP1X1', 'KVP2X1', 'KW', 'KW2', 'KYT', 'KYT2', 'LL1H', 'LL1HP', 'LL2H', 'LL2HP', 'LL3H', 'MB', 'MB2', 'MB2X', 'MEFL30', 'MEFL60', 'MF20', 'MF30', 'MF60', 'MHB60', 'MHY30', 'MHY60', 'MMF20', 'MMF30', 'MMF60', 'MSKI40', 'MSKI60', 'MSU24', 'MSU60', 'MT10', 'MW&F', 'MWP15', 'MWP2H', 'MWP60', 'MWS1', 'MWS2', 'MWS25', 'MWS30', 'MWS40', 'MWSN1', 'MWSN2', 'MWSN25', 'MWSN40', 'OW2', 'OWG', 'OWI', 'PL15', 'PL20', 'PL30', 'PP', 'PP2', 'PP2P', 'PP2S', 'PPP', 'PPS', 'PPT', 'PR20', 'PR30', 'PR40', 'PR60', 'RB15', 'RB20', 'RB30', 'RB40', 'RB60', 'RC', 'RCV', 'RJ', 'RJ2', 'RT', 'RTV', 'RX', 'RXV', 'SG10', 'SG5', 'SH', 'SH2', 'SHH', 'SK', 'SK2', 'SK2V', 'SKI40', 'SKI60', 'SKT', 'SKT1', 'SKT10', 'SKT2', 'SKT4', 'SKT6', 'SKV', 'SN1X', 'SN2X', 'SU24', 'SU60', 'SUT', 'TB', 'TB2', 'TB4', 'W&F', 'WP15', 'WP2H', 'WP60', 'WS1', 'WS2', 'WS25', 'WS30', 'WS40', 'WSN1', 'WSN2', 'WSN25', 'WSN40', 'WTF2', 'WTF3', 'YAS', 'YEР', 'YHD', 'МТ', 'МТ5', 'МТТ', 'РB', 'РB2', 'РB2X']

Все prefix прописные. Имеется кириллица в префиксах

In [39]:
df_values['prefix'] = df_values['prefix'].str.upper()

In [40]:
df_values['prefix'] = df_values.apply(lambda x: replace_cirillic_latin(x['prefix']),axis=1)

In [41]:
prefix_values = list(df_values['prefix'].unique())

In [42]:
print(sorted((prefix_values)))

['2MWP24', '2WP24', 'AB', 'AB4', 'AB4G', 'ABG', 'AC2', 'AC30', 'AC60', 'AT10', 'AT15', 'AT30', 'AT4', 'AT4K', 'AT6', 'AT60', 'AT6K', 'BF180', 'BF40', 'BF90', 'BG', 'BGH', 'BGK', 'BGKH', 'CS20', 'CS30', 'CS40', 'CS60', 'CSR60', 'CW1', 'CW1T', 'CW2', 'CW2T', 'CWH', 'DRC2H', 'DRCH', 'DT30', 'DT32', 'DT40', 'DT42', 'DT60', 'DT62', 'DTM', 'EB1X', 'EB2X', 'EB4X', 'ED3H', 'EDC', 'EFL30', 'EFL60', 'FR', 'FR2,', 'FRK', 'FRT', 'FRTK', 'GC1', 'GC2', 'GR1', 'GR2', 'GU', 'GU2', 'HB30', 'HB60', 'HY30', 'HY60', 'KA2', 'KA4', 'KA6', 'KAT', 'KAT2', 'KAT4', 'KS', 'KS2', 'KV1X1', 'KV2X1', 'KVP1X1', 'KVP2X1', 'KW', 'KW2', 'KYT', 'KYT2', 'LL1H', 'LL1HP', 'LL2H', 'LL2HP', 'LL3H', 'MB', 'MB2', 'MB2X', 'MEFL30', 'MEFL60', 'MF20', 'MF30', 'MF60', 'MHB60', 'MHY30', 'MHY60', 'MMF20', 'MMF30', 'MMF60', 'MSKI40', 'MSKI60', 'MSU24', 'MSU60', 'MT', 'MT10', 'MT5', 'MTT', 'MW&F', 'MWP15', 'MWP2H', 'MWP60', 'MWS1', 'MWS2', 'MWS25', 'MWS30', 'MWS40', 'MWSN1', 'MWSN2', 'MWSN25', 'MWSN40', 'OW2', 'OWG', 'OWI', 'PB', 'PB2', 'PB2X', 'PL15', 'PL20', 'PL30', 'PP', 'PP2', 'PP2P', 'PP2S', 'PPP', 'PPS', 'PPT', 'PR20', 'PR30', 'PR40', 'PR60', 'RB15', 'RB20', 'RB30', 'RB40', 'RB60', 'RC', 'RCV', 'RJ', 'RJ2', 'RT', 'RTV', 'RX', 'RXV', 'SG10', 'SG5', 'SH', 'SH2', 'SHH', 'SK', 'SK2', 'SK2V', 'SKI40', 'SKI60', 'SKT', 'SKT1', 'SKT10', 'SKT2', 'SKT4', 'SKT6', 'SKV', 'SN1X', 'SN2X', 'SU24', 'SU60', 'SUT', 'TB', 'TB2', 'TB4', 'W&F', 'WP15', 'WP2H', 'WP60', 'WS1', 'WS2', 'WS25', 'WS30', 'WS40', 'WSN1', 'WSN2', 'WSN25', 'WSN40', 'WTF2', 'WTF3', 'YAS', 'YEP', 'YHD']

In [43]:
len(prefix_values)

197

#### Объединенный список префиксов

In [44]:
all_prefix = list(set(prefix_values).union(set(archive_prefix)))

In [45]:
all_prefix.sort()

In [46]:
print(all_prefix)

['2MWP24', '2SU24', '2SU60', '2WP24', 'AB', 'AB4', 'AB4G', 'ABG', 'AC2', 'AC30', 'AC60', 'AT10', 'AT15', 'AT30', 'AT4', 'AT4K', 'AT6', 'AT60', 'AT6K', 'BC1', 'BC2', 'BCR', 'BF180', 'BF40', 'BF90', 'BG', 'BGH', 'BGK', 'BGKH', 'CS20', 'CS30', 'CS40', 'CS60', 'CSR60', 'CW1', 'CW1T', 'CW2', 'CW2T', 'CWH', 'DRC2H', 'DRCH', 'DT230', 'DT240', 'DT260', 'DT30', 'DT32', 'DT40', 'DT42', 'DT60', 'DT62', 'DTM', 'EB1X', 'EB2X', 'EB4X', 'ED3H', 'EDC', 'EF30', 'EF60', 'EFL30', 'EFL60', 'ES130', 'ES160', 'ES230', 'ES260', 'ESG1', 'ESG2', 'ESG4', 'F1', 'F1K', 'F2', 'FD', 'FDK', 'FJ30', 'FM30', 'FM45', 'FM60', 'FMCS30', 'FMCS45', 'FMCS45R', 'FMCS60', 'FMP15', 'FMP30', 'FMS30', 'FMS45', 'FMS60', 'FR', 'FR2', 'FR2,', 'FRK', 'FROG1', 'FROG3', 'FROGM', 'FRT', 'FRTK', 'GC1', 'GC2', 'GR1', 'GR1X1', 'GR2', 'GR2X1', 'GU', 'GU2', 'HB20', 'HB30', 'HB60', 'HY30', 'HY60', 'ICE1', 'ICE2', 'ID', 'KA2', 'KA4', 'KA6', 'KAT', 'KAT2', 'KAT4', 'KR1', 'KR2', 'KR3', 'KR4', 'KR6', 'KS', 'KS2', 'KV1X1', 'KV2X1', 'KVP1X1', 'KVP2X1', 'KVS', 'KW', 'KW2', 'KYT', 'KYT2', 'LB1X', 'LB2X', 'LB4X', 'LL1H', 'LL1HP', 'LL2H', 'LL2HP', 'LL3H', 'MB', 'MB2', 'MB2X', 'MEFL30', 'MEFL60', 'MF20', 'MF30', 'MF60', 'MHB60', 'MHY30', 'MHY60', 'MMF20', 'MMF30', 'MMF60', 'MSKI40', 'MSKI60', 'MSU24', 'MSU60', 'MT', 'MT10', 'MT10B', 'MT2', 'MT2B', 'MT5', 'MT5B', 'MTT', 'MW&F', 'MWP15', 'MWP2H', 'MWP60', 'MWS1', 'MWS2', 'MWS25', 'MWS30', 'MWS40', 'MWSN1', 'MWSN2', 'MWSN25', 'MWSN40', 'OW2', 'OWG', 'OWI', 'P1', 'P1G', 'P1P', 'P2', 'P2G', 'P2P', 'PB', 'PB2', 'PB2X', 'PH', 'PL15', 'PL20', 'PL30', 'PP', 'PP2', 'PP2P', 'PP2S', 'PPP', 'PPS', 'PPT', 'PR20', 'PR30', 'PR40', 'PR60', 'PS', 'RB15', 'RB20', 'RB30', 'RB40', 'RB60', 'RC', 'RCV', 'RJ', 'RJ1X', 'RJ2', 'RJ2X', 'RJXX', 'RS', 'RT', 'RTV', 'RX', 'RXV', 'S', 'S2', 'SC', 'SG10', 'SG5', 'SG7', 'SH', 'SH2', 'SHH', 'SK', 'SK2', 'SK2V', 'SKI20', 'SKI40', 'SKI60', 'SKT', 'SKT1', 'SKT10', 'SKT2', 'SKT4', 'SKT6', 'SKV', 'SN1X', 'SN1X1', 'SN2X', 'SN2X1', 'SP', 'SP2', 'ST', 'SU24', 'SU60', 'SUT', 'TB', 'TB2', 'TB4', 'TR', 'TR1', 'TR1K', 'TR2', 'TR2K', 'TX', 'UC', 'UN', 'UNI', 'VD', 'W&F', 'WP15', 'WP2H', 'WP30', 'WP60', 'WS1', 'WS2', 'WS20', 'WS25', 'WS30', 'WS40', 'WS60', 'WSN1', 'WSN2', 'WSN25', 'WSN40', 'WSN60', 'WTF2', 'WTF3', 'YAS', 'YEP', 'YHD']

In [47]:
len(all_prefix)

291

In [48]:
archive_prefix = list(set(archive_prefix) - set(prefix_values))

In [49]:
archive_prefix.sort()

Измененный **archive_prefix**

In [50]:
print(archive_prefix)

['2SU24', '2SU60', 'BC1', 'BC2', 'BCR', 'DT230', 'DT240', 'DT260', 'EF30', 'EF60', 'ES130', 'ES160', 'ES230', 'ES260', 'ESG1', 'ESG2', 'ESG4', 'F1', 'F1K', 'F2', 'FD', 'FDK', 'FJ30', 'FM30', 'FM45', 'FM60', 'FMCS30', 'FMCS45', 'FMCS45R', 'FMCS60', 'FMP15', 'FMP30', 'FMS30', 'FMS45', 'FMS60', 'FR2', 'FROG1', 'FROG3', 'FROGM', 'GR1X1', 'GR2X1', 'HB20', 'ICE1', 'ICE2', 'ID', 'KR1', 'KR2', 'KR3', 'KR4', 'KR6', 'KVS', 'LB1X', 'LB2X', 'LB4X', 'MT10B', 'MT2', 'MT2B', 'MT5B', 'P1', 'P1G', 'P1P', 'P2', 'P2G', 'P2P', 'PH', 'PS', 'RJ1X', 'RJ2X', 'RJXX', 'RS', 'S', 'S2', 'SC', 'SG7', 'SKI20', 'SN1X1', 'SN2X1', 'SP', 'SP2', 'ST', 'TR', 'TR1', 'TR1K', 'TR2', 'TR2K', 'TX', 'UC', 'UN', 'UNI', 'VD', 'WP30', 'WS20', 'WS60', 'WSN60']

In [51]:
len(archive_prefix)

94

In [52]:
df_amo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8272 entries, 0 to 8271
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             8272 non-null   int64
 1   Этап сделки                    8272 non-null   object
 2   Бюджет                         8272 non-null   int64
 3   Дата создания сделки           8272 non-null   object
 4   Дата закрытия                  8272 non-null   object
 5   DELIVERY_PRICE                 5553 non-null   float64
 6   Стоимость доставки             504 non-null    object
 7   PRODUCTS                       7351 non-null   object
 8   PRICE                          7351 non-null   float64
 9   SUBTOTAL                       7307 non-null   float64
 10  Выручка от клиента             8061 non-null   object
 11  Направление (вид сертификата)  8148 non-null   object
 12  Номер сертификата              8272 non-null   object
 13  КОРНЕВАЯ СДЕЛКА                159 non-null    object
 14  Номер 2-го сертификата         712 non-null    object
 15  Номер 3-го сертификата         6 non-null      object
 16  Номер 4-го сертификата         2 non-null      object
 17  Номер 5-го сертификата         27 non-null     object
 18  Сертификат на тренера          112 non-null    object
 19  Статус погашения               3257 non-null   object
 20  Дата получения услуги          3228 non-null   object
 21  Стоимость закупки              2632 non-null   object
dtypes: float64(3), int64(2), object(17)
memory usage: 1.4+ MB

In [53]:
df_values.head(10)

,id,activity_name,value,status,prefix,purchase_price,sale_price
0,1,Вейксёрф и вейкборд,2 часа вейксерфинга или вейкбординга\nна волне...,on_air,WS2,NaN,22500.0
1,2,Вейксёрф и вейкборд,1 час вейксерфинга или вейкбординга\nна волне ...,on_air,WS1,NaN,11000.0
2,3,Вейксёрф и вейкборд,40 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS40,NaN,7500.0
3,4,Вейксёрф и вейкборд,30 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS30,NaN,5500.0
4,5,Вейксёрф и вейкборд,25 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS25,NaN,5000.0
5,6,Вейксёрф и вейкборд,2 часа вейксерфинга или вейкбординга\nна любой...,on_air,WSN2,NaN,26500.0
6,7,Вейксёрф и вейкборд,1 час вейксерфинга или вейкбординга на любой в...,on_air,WSN1,NaN,13500.0
7,8,Вейксёрф и вейкборд,40 минут вейксерфинга или вейкбординга на любо...,on_air,WSN40,NaN,8500.0
8,9,Вейксёрф и вейкборд,25 минут вейксерфинга или вейкбординга на любо...,on_air,WSN25,NaN,6000.0
9,10,Флайборд,1 час полёта на флайборде,on_air,MF60,NaN,12500.0

## Предобработка базы AMO

### Имена столбцов

Столбцы в нижний регистр и удаление пробелов

In [54]:
df_amo.columns = df_amo.columns.str.lower()

In [55]:
df_amo.columns = df_amo.columns.str.strip()

In [56]:
df_amo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8272 entries, 0 to 8271
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             8272 non-null   int64
 1   этап сделки                    8272 non-null   object
 2   бюджет                         8272 non-null   int64
 3   дата создания сделки           8272 non-null   object
 4   дата закрытия                  8272 non-null   object
 5   delivery_price                 5553 non-null   float64
 6   стоимость доставки             504 non-null    object
 7   products                       7351 non-null   object
 8   price                          7351 non-null   float64
 9   subtotal                       7307 non-null   float64
 10  выручка от клиента             8061 non-null   object
 11  направление (вид сертификата)  8148 non-null   object
 12  номер сертификата              8272 non-null   object
 13  корневая сделка                159 non-null    object
 14  номер 2-го сертификата         712 non-null    object
 15  номер 3-го сертификата         6 non-null      object
 16  номер 4-го сертификата         2 non-null      object
 17  номер 5-го сертификата         27 non-null     object
 18  сертификат на тренера          112 non-null    object
 19  статус погашения               3257 non-null   object
 20  дата получения услуги          3228 non-null   object
 21  стоимость закупки              2632 non-null   object
dtypes: float64(3), int64(2), object(17)
memory usage: 1.4+ MB

Удаление пробелов и вставка символа "_"

In [57]:
df_amo.columns = df_amo.columns.map(lambda x: re.sub( '(?<!^)(?=[ ])', '_', x ).lower())
df_amo.columns = df_amo.columns.map(lambda x: re.sub( ' ', '', x ))

Копирование исходной базы

In [58]:
df_amo_temp = df_amo.copy()

Переименование столбцов

In [59]:
df_amo_temp.rename(columns = {'номер_сертификата':'code', 'id':'amo_id','дата_закрытия':'sale_date','дата_получения_услуги':'card_used_date'}, inplace = True )

In [60]:
df_values.rename(columns = {'id':'activity_value_id' }, inplace = True )

In [61]:
df_amo_temp['code'] = df_amo_temp['code'].str.upper()

In [62]:
df_amo_temp['номер_2-го_сертификата'] = df_amo_temp['номер_2-го_сертификата'].str.upper()

In [63]:
df_amo_temp['номер_3-го_сертификата'] = df_amo_temp['номер_3-го_сертификата'].str.upper()

In [64]:
df_amo_temp['номер_4-го_сертификата'] = df_amo_temp['номер_4-го_сертификата'].str.upper()

In [65]:
df_amo_temp['номер_5-го_сертификата'] = df_amo_temp['номер_5-го_сертификата'].str.upper()

In [66]:
#df_amo_temp['сертификат_на_фотографа'] = df_amo_temp['сертификат_на_фотографа'].str.upper()

In [67]:
df_amo_temp['сертификат_на_тренера'] = df_amo_temp['сертификат_на_тренера'].str.upper()

In [68]:
df_amo_temp['дата_создания_сделки'] = pd.to_datetime(df_amo_temp['дата_создания_сделки'] )

C:\Users\Admin\AppData\Local\Temp\ipykernel_13220\1868446354.py:1: UserWarning: Parsing dates in %d.%m.%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_amo_temp['дата_создания_сделки'] = pd.to_datetime(df_amo_temp['дата_создания_сделки'] )

In [69]:
df_amo_temp['sale_date'] = pd.to_datetime(df_amo_temp['sale_date'])

C:\Users\Admin\AppData\Local\Temp\ipykernel_13220\3706027285.py:1: UserWarning: Parsing dates in %d.%m.%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_amo_temp['sale_date'] = pd.to_datetime(df_amo_temp['sale_date'])

In [70]:
df_amo_temp['card_used_date'] = pd.to_datetime(df_amo_temp['card_used_date'],errors='coerce')

In [71]:
df_amo_temp = df_amo_temp.sort_values(by=["дата_создания_сделки"], ascending=True)

In [72]:
#df_amo_temp['supplier_payment_date'] = df_amo_temp['card_used_date']

In [73]:
df_amo_temp = df_amo_temp.reset_index(drop=True)

In [74]:
df_amo_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8272 entries, 0 to 8271
Data columns (total 22 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   amo_id                         8272 non-null   int64
 1   этап_сделки                    8272 non-null   object
 2   бюджет                         8272 non-null   int64
 3   дата_создания_сделки           8272 non-null   datetime64[ns]
 4   sale_date                      8272 non-null   datetime64[ns]
 5   delivery_price                 5553 non-null   float64
 6   стоимость_доставки             504 non-null    object
 7   products                       7351 non-null   object
 8   price                          7351 non-null   float64
 9   subtotal                       7307 non-null   float64
 10  выручка_от_клиента             8061 non-null   object
 11  направление_(вид_сертификата)  8148 non-null   object
 12  code                           8272 non-null   object
 13  корневая_сделка                159 non-null    object
 14  номер_2-го_сертификата         712 non-null    object
 15  номер_3-го_сертификата         6 non-null      object
 16  номер_4-го_сертификата         2 non-null      object
 17  номер_5-го_сертификата         27 non-null     object
 18  сертификат_на_тренера          112 non-null    object
 19  статус_погашения               3257 non-null   object
 20  card_used_date                 1360 non-null   datetime64[ns]
 21  стоимость_закупки              2632 non-null   object
dtypes: datetime64[ns](3), float64(3), int64(2), object(14)
memory usage: 1.4+ MB

In [75]:
df_amo_temp.head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,номер_3-го_сертификата,номер_4-го_сертификата,номер_5-го_сертификата,сертификат_на_тренера,статус_погашения,card_used_date,стоимость_закупки
0,660235,Успешно реализовано,3290,2020-03-02 14:59:05,2020-07-10 10:39:00,NaN,436,Подарочный сертификатна Квадроциклы (Выберите ...,3290.0,3000.0,NaN,Квадроциклы,KVP1X1 011132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,667573,Успешно реализовано,2600,2020-03-02 15:39:28,2020-07-10 10:40:00,NaN,NaN,Подарочный сертификатна Флайборд (Выберите тип...,2600.0,2600.0,NaN,Флайборд / Ховерборд / Ранец,MF268600,NaN,NaN,NaN,NaN,NaN,NaN,Погашен,2020-01-07,NaN
2,929417,Успешно реализовано,3040,2020-03-04 12:51:10,2020-07-10 18:34:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GR89289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,929931,Успешно реализовано,7200,2020-03-04 13:06:52,2020-07-10 18:34:00,NaN,NaN,NaN,NaN,NaN,NaN,Вейксёрф и вейк за катером,VWS691844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,938619,Успешно реализовано,6000,2020-03-04 14:22:26,2020-03-08 05:06:00,NaN,NaN,Подарочный сертификатна Квадроциклы (Выберите ...,6000.0,6000.0,NaN,Квадроциклы,KVP2X1 066834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

Определение разделителей в поле **code**

In [76]:
cc = df_amo_temp['code'].unique()

In [77]:
set_cc = set()

In [78]:
for el in cc:
    set_cc.update(el)

In [79]:
print(set_cc)

{'0', '7', 'U', 'И', 'A', '6', 'B', 'М', ' ', '2', 'T', 'S', '_', 'G', 'H', 'С', 'N', 'V', 'R', '8', '\xa0', 'Y', 'L', '5', 'Б', 'О', 'Р', 'C', 'Ы', '-', ')', 'Х', '(', 'I', 'P', 'K', 'Л', 'А', '9', '3', 'Т', 'X', '&', '?', 'Е', 'F', 'M', 'Н', 'К', 'E', '1', 'W', 'J', 'В', 'D', '4'}

В качестве разделителей используются символы ' ', '_', '\xa0' и их комбинации

В значениях поля code имеются символы кириллицы

Замена кириллицы на латинские символы

In [80]:
#df_amo_temp['code'] = df_amo_temp.apply(replace_cirillic_latin,axis=1)
df_amo_temp['code'] = df_amo_temp.apply(lambda x: replace_cirillic_latin(x['code']),axis=1)

In [81]:
#df_amo_temp['номер_2-го_сертификата'] = df_amo_temp.apply(lambda x: replace_cirillic_latin(x['номер_2-го_сертификата']),axis=1)

In [82]:
#df_amo_temp['номер_3-го_сертификата'] = df_amo_temp.apply(lambda x: replace_cirillic_latin(x['номер_3-го_сертификата']),axis=1)

In [83]:
#df_amo_temp['номер_4-го_сертификата'] = df_amo_temp.apply(lambda x: replace_cirillic_latin(x['номер_4-го_сертификата']),axis=1)

In [84]:
#df_amo_temp['номер_5-го_сертификата'] = df_amo_temp.apply(lambda x: replace_cirillic_latin(x['номер_5-го_сертификата']),axis=1)

Замена всех возможных разделителей на '_'

In [85]:
#df_amo_temp['code'] = df_amo_temp['code'].str.replace('[^_ \xa0]+([ _\xa0]+)\d+','_',regex=True)
df_amo_temp.replace(r'([ _\xa0]+)',r'_',regex=True,inplace=True)

In [86]:
df_amo_temp.head(100)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,номер_3-го_сертификата,номер_4-го_сертификата,номер_5-го_сертификата,сертификат_на_тренера,статус_погашения,card_used_date,стоимость_закупки
0,660235,Успешно_реализовано,3290,2020-03-02 14:59:05,2020-07-10 10:39:00,NaN,436,Подарочный_сертификатна_Квадроциклы_(Выберите_...,3290.0,3000.0,NaN,Квадроциклы,KVP1X1_011132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,667573,Успешно_реализовано,2600,2020-03-02 15:39:28,2020-07-10 10:40:00,NaN,NaN,Подарочный_сертификатна_Флайборд_(Выберите_тип...,2600.0,2600.0,NaN,Флайборд_/_Ховерборд_/_Ранец,MF268600,NaN,NaN,NaN,NaN,NaN,NaN,Погашен,2020-01-07,NaN
2,929417,Успешно_реализовано,3040,2020-03-04 12:51:10,2020-07-10 18:34:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GR89289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,929931,Успешно_реализовано,7200,2020-03-04 13:06:52,2020-07-10 18:34:00,NaN,NaN,NaN,NaN,NaN,NaN,Вейксёрф_и_вейк_за_катером,VWS691844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,938619,Успешно_реализовано,6000,2020-03-04 14:22:26,2020-03-08 05:06:00,NaN,NaN,Подарочный_сертификатна_Квадроциклы_(Выберите_...,6000.0,6000.0,NaN,Квадроциклы,KVP2X1_066834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,8142557,Успешно_реализовано,12345,2020-06-11 11:52:11,2020-06-12 13:11:00,NaN,NaN,NaN,NaN,NaN,12345,Универсальный_Мосвейк_12345,M99596,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
96,8142939,Успешно_реализовано,4000,2020-06-11 12:01:57,2020-06-11 20:22:00,NaN,333,NaN,NaN,NaN,4000,Вейксёрф_и_вейк_за_катером,WS30_066782,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
97,8144187,Успешно_реализовано,5200,2020-06-11 12:27:42,2020-06-11 20:21:00,NaN,352,NaN,NaN,NaN,5200,Вейксёрф_и_вейк_за_катером,WS427033,NaN,NaN,NaN,NaN,NaN,NaN,Погашен,NaT,NaN
98,8189973,Успешно_реализовано,3950,2020-06-12 19:11:42,2020-07-10 18:05:00,NaN,NaN,NaN,NaN,NaN,3950,Вейксёрф_и_вейк_за_катером,WS375785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN
99,8193719,Успешно_реализовано,12745,2020-06-12 23:20:14,2020-06-15 11:13:00,NaN,251,NaN,NaN,NaN,12745,Универсальный_Мосвейк_12345,W76920,NaN,NaN,NaN,NaN,NaN,NaN,Погашен,NaT,NaN

## Создание отдельных строк для дополнительных сертификатов

In [87]:
df2sert = df_amo_temp.loc[(df_amo_temp['номер_2-го_сертификата'].notna())]

In [88]:
df2sert.head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,номер_3-го_сертификата,номер_4-го_сертификата,номер_5-го_сертификата,сертификат_на_тренера,статус_погашения,card_used_date,стоимость_закупки
7,1418327,Успешно_реализовано,12000,2020-03-06 22:49:50,2020-07-10 18:34:00,NaN,NaN,NaN,NaN,NaN,NaN,Квадроциклы,VKV1X1_078771,NaN,VKV1X1_020264,NaN,NaN,NaN,NaN,NaN,NaT,NaN
19,2043467,Успешно_реализовано,4250,2020-03-12 16:42:41,2020-07-10 18:34:00,NaN,0,NaN,NaN,NaN,4250.0,Вейксёрф_и_вейк_за_катером,GR1X1_035393,NaN,PH017,NaN,NaN,NaN,NaN,Погашен,NaT,NaN
48,4964131,Успешно_реализовано,6600,2020-04-06 15:13:19,2020-07-10 18:30:00,NaN,429,NaN,NaN,NaN,6600.0,Вейксёрф_и_вейк_за_катером,W318360,NaN,MF20_542,NaN,NaN,NaN,NaN,NaN,NaT,NaN
62,6215467,Успешно_реализовано,4500,2020-04-30 20:07:40,2020-07-10 18:23:00,NaN,NaN,Подарочный_сертификат_на_Серфинг_в_Москве_(Выб...,4500.0,4500.0,4500.0,Искусственная_волна,VCW1_082427,NaN,TR1K_00133,NaN,NaN,NaN,NaN,Погашен,NaT,NaN
67,6614575,Успешно_реализовано,6350,2020-05-11 10:24:17,2020-07-10 18:20:00,NaN,NaN,Подарочный_сертификат_на_Серфинг_в_Москве_(Выб...,6350.0,6000.0,6350.0,Искусственная_волна,CW1_031734,NaN,PH_003,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [89]:
df2sert.shape

(712, 22)

Имеются 2-е сертификаты, имеющие пометку DIS

Исключение подобных 2-х сертификатов

In [90]:
df2sert = df2sert.loc[~df2sert['номер_2-го_сертификата'].str.contains('DI')]

In [91]:
df2sert.shape

(659, 22)

In [92]:
df2sert.head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,номер_3-го_сертификата,номер_4-го_сертификата,номер_5-го_сертификата,сертификат_на_тренера,статус_погашения,card_used_date,стоимость_закупки
7,1418327,Успешно_реализовано,12000,2020-03-06 22:49:50,2020-07-10 18:34:00,NaN,NaN,NaN,NaN,NaN,NaN,Квадроциклы,VKV1X1_078771,NaN,VKV1X1_020264,NaN,NaN,NaN,NaN,NaN,NaT,NaN
19,2043467,Успешно_реализовано,4250,2020-03-12 16:42:41,2020-07-10 18:34:00,NaN,0,NaN,NaN,NaN,4250.0,Вейксёрф_и_вейк_за_катером,GR1X1_035393,NaN,PH017,NaN,NaN,NaN,NaN,Погашен,NaT,NaN
48,4964131,Успешно_реализовано,6600,2020-04-06 15:13:19,2020-07-10 18:30:00,NaN,429,NaN,NaN,NaN,6600.0,Вейксёрф_и_вейк_за_катером,W318360,NaN,MF20_542,NaN,NaN,NaN,NaN,NaN,NaT,NaN
62,6215467,Успешно_реализовано,4500,2020-04-30 20:07:40,2020-07-10 18:23:00,NaN,NaN,Подарочный_сертификат_на_Серфинг_в_Москве_(Выб...,4500.0,4500.0,4500.0,Искусственная_волна,VCW1_082427,NaN,TR1K_00133,NaN,NaN,NaN,NaN,Погашен,NaT,NaN
67,6614575,Успешно_реализовано,6350,2020-05-11 10:24:17,2020-07-10 18:20:00,NaN,NaN,Подарочный_сертификат_на_Серфинг_в_Москве_(Выб...,6350.0,6000.0,6350.0,Искусственная_волна,CW1_031734,NaN,PH_003,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [93]:
def insert_row_sert2(row):
    df_amo_temp.loc[len(df_amo_temp.index)] = [row['amo_id'],
                                           np.NaN,
                                          np.NaN,
                                           row['дата_создания_сделки'],
                                           row['sale_date'],
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          '',
                                          row['номер_2-го_сертификата'],
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                               np.NaN,
                                               np.NaN
                                              ]
    return 1

In [94]:
df_amo_temp.shape

(8272, 22)

In [95]:
df2sert['qq']= df2sert.apply(insert_row_sert2,axis=1)

In [96]:
def insert_row_for_sert(row):
    global field
    df_amo_temp.loc[len(df_amo_temp.index)] = [row['amo_id'],
                                           np.NaN,
                                          np.NaN,
                                           row['дата_создания_сделки'],
                                           row['sale_date'],
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          '',
                                          row[field],
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                          np.NaN,
                                               np.NaN,
                                               np.NaN
                                              ]
    return 1

In [97]:
df3sert = df_amo_temp.loc[(df_amo_temp['номер_3-го_сертификата'].notna())]

In [98]:
df3sert = df3sert.loc[~df3sert['номер_3-го_сертификата'].str.contains('DI')]

In [99]:
field = 'номер_3-го_сертификата'

In [100]:
df3sert['qq']= df3sert.apply(insert_row_for_sert,axis=1)

In [101]:
df4sert = df_amo_temp.loc[(df_amo_temp['номер_4-го_сертификата'].notna())]

In [102]:
field = 'номер_4-го_сертификата'

In [103]:
df4sert['qq']= df4sert.apply(insert_row_for_sert,axis=1)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13220\1052311001.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4sert['qq']= df4sert.apply(insert_row_for_sert,axis=1)

In [104]:
df5sert = df_amo_temp.loc[(df_amo_temp['номер_5-го_сертификата'].notna())]

In [105]:
field = 'номер_5-го_сертификата'

In [106]:
df5sert['qq']= df5sert.apply(insert_row_for_sert,axis=1)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13220\1692456492.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5sert['qq']= df5sert.apply(insert_row_for_sert,axis=1)

In [107]:
df_amo_temp.shape

(8966, 22)

In [108]:
df_amo_temp.query('amo_id == 24441731')

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,номер_3-го_сертификата,номер_4-го_сертификата,номер_5-го_сертификата,сертификат_на_тренера,статус_погашения,card_used_date,стоимость_закупки
6035,24441731,Успешно_реализовано,8000.0,2023-06-01 11:32:36,2023-06-02 00:01:00,NaN,NaN,"Самолёт_Cessna_182_(Варианты:_20_минут_полёта,...",8000.0,8000.0,8000,Авиа_Самолёты,CS20_1905836330,NaN,VKA6_362697,NaN,NaN,NaN,NaN,Погашен,NaT,7500
8866,24441731,NaN,NaN,2023-06-01 11:32:36,2023-06-02 00:01:00,NaN,NaN,NaN,NaN,NaN,NaN,,VKA6_362697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN

В базу AMO добавлены строки для дополнительных сертификатов

### Формирование новых столбцов в базе АМО

In [109]:
df_amo_temp['id'] = ''

#### prefix and number

In [110]:
df_amo_temp['prefix'] = df_amo_temp['code'].apply(lambda x: re.split('[ _]',x)[0] if ' ' in x or '_' in x else '')

In [111]:
df_amo_temp['number'] = df_amo_temp['code'].apply(lambda x: re.split('[ _]',x)[1] if ' ' in x or '_' in x else '')

In [112]:
df_amo_temp.head(10)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,номер_3-го_сертификата,номер_4-го_сертификата,номер_5-го_сертификата,сертификат_на_тренера,статус_погашения,card_used_date,стоимость_закупки,id,prefix,number
0,660235,Успешно_реализовано,3290.0,2020-03-02 14:59:05,2020-07-10 10:39:00,NaN,436,Подарочный_сертификатна_Квадроциклы_(Выберите_...,3290.0,3000.0,NaN,Квадроциклы,KVP1X1_011132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,,KVP1X1,011132
1,667573,Успешно_реализовано,2600.0,2020-03-02 15:39:28,2020-07-10 10:40:00,NaN,NaN,Подарочный_сертификатна_Флайборд_(Выберите_тип...,2600.0,2600.0,NaN,Флайборд_/_Ховерборд_/_Ранец,MF268600,NaN,NaN,NaN,NaN,NaN,NaN,Погашен,2020-01-07,NaN,,,
2,929417,Успешно_реализовано,3040.0,2020-03-04 12:51:10,2020-07-10 18:34:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GR89289,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,,,
3,929931,Успешно_реализовано,7200.0,2020-03-04 13:06:52,2020-07-10 18:34:00,NaN,NaN,NaN,NaN,NaN,NaN,Вейксёрф_и_вейк_за_катером,VWS691844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,,,
4,938619,Успешно_реализовано,6000.0,2020-03-04 14:22:26,2020-03-08 05:06:00,NaN,NaN,Подарочный_сертификатна_Квадроциклы_(Выберите_...,6000.0,6000.0,NaN,Квадроциклы,KVP2X1_066834,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,,KVP2X1,066834
5,948101,Успешно_реализовано,5290.0,2020-03-04 17:11:49,2020-07-10 18:34:00,NaN,NaN,Подарочный_сертификатна_Сап-Сёрфинг_(Выберите_...,5290.0,5000.0,NaN,САП-сёрф,SU226298,NaN,NaN,NaN,NaN,NaN,NaN,Погашен,2020-09-08,NaN,,,
6,1058967,Успешно_реализовано,2750.0,2020-03-05 10:42:16,2020-03-08 05:05:00,NaN,NaN,Подарочный_сертификат_в_крытый_Вейк-парк_(Выбе...,2750.0,2750.0,NaN,NaN,GRT65059,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,,,
7,1418327,Успешно_реализовано,12000.0,2020-03-06 22:49:50,2020-07-10 18:34:00,NaN,NaN,NaN,NaN,NaN,NaN,Квадроциклы,VKV1X1_078771,NaN,VKV1X1_020264,NaN,NaN,NaN,NaN,NaN,NaT,NaN,,VKV1X1,078771
8,1447181,Успешно_реализовано,4000.0,2020-03-07 13:55:30,2020-07-10 18:34:00,NaN,NaN,Подарочный_сертификатна_Квадроциклы_(Выберите_...,4000.0,4000.0,NaN,Квадроциклы,KVP1X1_050898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,,KVP1X1,050898
9,1447597,Успешно_реализовано,8000.0,2020-03-07 14:12:10,2020-07-10 18:34:00,NaN,NaN,Подарочный_сертификатна_Квадроциклы_(Выберите_...,8000.0,8000.0,NaN,Квадроциклы,KVP2X1_037968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,,KVP2X1,037968

In [113]:
prefix_amo = list(df_amo_temp['prefix'].unique())
prefix_amo.sort()
prefix_amo = prefix_amo[1:]

In [114]:
prefix_amo.sort(key=lambda x: len(x),reverse=True)

In [115]:
print(prefix_amo)

['VESG127419', 'VHY60T30', 'FMCS45R', 'MF20560', 'VFMCS30', 'VKVP1X1', 'VKVP2X1', 'VSKI40T', 'VWS20TR', 'VWSN40T', 'VWSN60T', '60WAKE', 'FMCS30', 'KPV1X1', 'KVP1X1', 'KVP1X2', 'KVP2X1', 'MWSN40', 'V2SU24', 'V2SU60', 'V2WP24', 'VBF180', 'VDRC2H', 'VEFL30', 'VES130', 'VES160', 'VES230', 'VGR1X1', 'VHY30T', 'VKV1X1', 'VKV2X1', 'VKVP1X', 'VMMF20', 'VMMF30', 'VMSU60', 'VMWP15', 'VMWS25', 'VMWS40', 'VSKI20', 'VSKI40', 'VSKI60', 'VSN1X1', 'VSN2X1', 'VSN2X4', 'VWS20T', 'VWS30T', 'VWS40T', 'VWS60T', 'VWSN25', 'VWSN40', 'VWSN60', '2SU60', 'BF180', 'DRC2H', 'DRS2H', 'DT230', 'DT240', 'DT260', 'EB1X1', 'EFL30', 'EFL60', 'ES130', 'ES160', 'ES230', 'FMP30', 'GR1X1', 'GR2X1', 'KV1X1', 'KV2X1', 'MMF60', 'MWS25', 'SKI40', 'SKI60', 'SN1X1', 'SN2X1', 'VAC30', 'VAC60', 'VAT10', 'VAT15', 'VAT30', 'VAT4K', 'VAT6K', 'VBF40', 'VBF90', 'VBGKH', 'VCS20', 'VCS30', 'VCS40', 'VCS60', 'VCW1T', 'VCW2T', 'VDRCH', 'VDT30', 'VDT32', 'VDT40', 'VDT60', 'VDT62', 'VEB1X', 'VEB2X', 'VED3H', 'VEF30', 'VEF60', 'VESG1', 'VESG2', 'VFJ30', 'VFM45', 'VHB20', 'VHB30', 'VHB60', 'VHY30', 'VHY60', 'VKAT2', 'VKAT4', 'VKV1X', 'VLB1X', 'VLL1H', 'VLL2H', 'VLL3H', 'VMB2X', 'VMF20', 'VMF30', 'VMF60', 'VMT10', 'VMT2B', 'VMW&F', 'VMWS1', 'VPB2X', 'VPH20', 'VPP2P', 'VPP2S', 'VPR20', 'VPR30', 'VPR40', 'VPR60', 'VRB15', 'VRB40', 'VRJ1X', 'VRJ2X', 'VSG10', 'VSK2V', 'VSKT1', 'VSKT2', 'VSKT4', 'VSN1X', 'VSN2X', 'VSN60', 'VSU24', 'VSU60', 'VTR1K', 'VTR2K', 'VTR30', 'VWP15', 'VWP2H', 'VWP60', 'VWS20', 'VWS25', 'VWS30', 'VWS40', 'VWS60', 'VWTF2', 'WS30T', 'WSN40', 'WSN60', 'AC30', 'AC60', 'AT10', 'AT15', 'AT30', 'AT4K', 'AT6K', 'BF40', 'BF90', 'BGKH', 'CS20', 'CS30', 'CS40', 'CS60', 'DF60', 'DRCH', 'DT30', 'DT40', 'DT60', 'EB1X', 'EB2X', 'ED3H', 'EF30', 'EF60', 'ESG1', 'ESG2', 'FJ30', 'FM30', 'FM60', 'HB20', 'HB30', 'HY30', 'HY60', 'KAT2', 'KAT4', 'LL1H', 'LL2H', 'MB2X', 'MF20', 'MF30', 'MF60', 'MT2B', 'MWS2', 'PB2X', 'PL15', 'PL20', 'PR20', 'PR30', 'PR40', 'PR60', 'RB15', 'RB20', 'RB30', 'RJ2X', 'SG10', 'SKT1', 'SKT2', 'SKT4', 'SN1X', 'SN2X', 'SNX1', 'SU24', 'SU60', 'SV60', 'TR1K', 'TR1К', 'TR2K', 'VAC2', 'VAT4', 'VAT6', 'VAWP', 'VBGH', 'VBGK', 'VCW1', 'VCW2', 'VCWH', 'VDTM', 'VEDC', 'VEFL', 'VFR2', 'VFRT', 'VGC1', 'VGC2', 'VGR1', 'VGR2', 'VGU2', 'VJT2', 'VKA2', 'VKA4', 'VKA6', 'VKAT', 'VKR1', 'VKR3', 'VKVS', 'VMB2', 'VMT2', 'VMT5', 'VMTT', 'VP1G', 'VPP2', 'VPPP', 'VPPS', 'VRCV', 'VRJ2', 'VRTV', 'VSG5', 'VSG7', 'VSH2', 'VSK2', 'VSKT', 'VSKV', 'VSUT', 'VSVH', 'VTB2', 'VTR1', 'VTR2', 'VW&F', 'VWPA', 'VWS1', 'VWS6', 'VWTF', 'VYAS', 'VYEP', 'WP15', 'WP2H', 'WP30', 'WP60', 'WS20', 'WS25', 'WS30', 'WS40', 'WS60', 'WTF2', 'WTF3', 'AT4', 'AT6', 'BGH', 'CW1', 'CW2', 'EDC', 'GC1', 'GC2', 'GR1', 'GR2', 'GU2', 'KA2', 'KA4', 'KA6', 'KAT', 'KR1', 'KR2', 'KR4', 'KS2', 'KVC', 'KVS', 'MB2', 'MT2', 'MT5', 'MTT', 'P1G', 'P1P', 'P2G', 'PB2', 'PP2', 'PPP', 'RCV', 'RJ2', 'RTV', 'RXV', 'SG7', 'SH2', 'SHH', 'SK2', 'SKV', 'SP2', 'TR1', 'TR2', 'VBG', 'VFR', 'VGU', 'VMB', 'VMT', 'VP1', 'VPB', 'VPH', 'VPP', 'VRC', 'VRJ', 'VRS', 'VS2', 'VSH', 'VSK', 'VSP', 'VST', 'VTR', 'VUN', 'VWF', 'VWS', 'W&F', 'YEP', 'КА2', 'AT', 'BG', 'F1', 'GU', 'KS', 'MB', 'MF', 'MT', 'P1', 'P2', 'PB', 'PH', 'PS', 'RC', 'RJ', 'RS', 'S2', 'SH', 'SP', 'ST', 'TR', 'UN', 'VS', 'WF', 'S']

Некоторые значения в code без разделителей, потому не выделились prefix и number

Отделение prefix от number

In [120]:
all_prefix_sort = all_prefix

In [121]:
all_prefix_sort.sort(key=lambda x: len(x),reverse=True)

In [123]:
all_prefix_sort

['FMCS45R',
 '2MWP24',
 'FMCS30',
 'FMCS45',
 'FMCS60',
 'KVP1X1',
 'KVP2X1',
 'MEFL30',
 'MEFL60',
 'MSKI40',
 'MSKI60',
 'MWSN25',
 'MWSN40',
 '2SU24',
 '2SU60',
 '2WP24',
 'BF180',
 'CSR60',
 'DRC2H',
 'DT230',
 'DT240',
 'DT260',
 'EFL30',
 'EFL60',
 'ES130',
 'ES160',
 'ES230',
 'ES260',
 'FMP15',
 'FMP30',
 'FMS30',
 'FMS45',
 'FMS60',
 'FROG1',
 'FROG3',
 'FROGM',
 'GR1X1',
 'GR2X1',
 'KV1X1',
 'KV2X1',
 'LL1HP',
 'LL2HP',
 'MHB60',
 'MHY30',
 'MHY60',
 'MMF20',
 'MMF30',
 'MMF60',
 'MSU24',
 'MSU60',
 'MT10B',
 'MWP15',
 'MWP2H',
 'MWP60',
 'MWS25',
 'MWS30',
 'MWS40',
 'MWSN1',
 'MWSN2',
 'SKI20',
 'SKI40',
 'SKI60',
 'SKT10',
 'SN1X1',
 'SN2X1',
 'WSN25',
 'WSN40',
 'WSN60',
 'AB4G',
 'AC30',
 'AC60',
 'AT10',
 'AT15',
 'AT30',
 'AT4K',
 'AT60',
 'AT6K',
 'BF40',
 'BF90',
 'BGKH',
 'CS20',
 'CS30',
 'CS40',
 'CS60',
 'CW1T',
 'CW2T',
 'DRCH',
 'DT30',
 'DT32',
 'DT40',
 'DT42',
 'DT60',
 'DT62',
 'EB1X',
 'EB2X',
 'EB4X',
 'ED3H',
 'EF30',
 'EF60',
 'ESG1',
 'ESG2',
 'ESG4',
 'FJ30',
 'FM30',
 'FM45',
 'FM60',
 'FR2,',
 'FRTK',
 'HB20',
 'HB30',
 'HB60',
 'HY30',
 'HY60',
 'ICE1',
 'ICE2',
 'KAT2',
 'KAT4',
 'KYT2',
 'LB1X',
 'LB2X',
 'LB4X',
 'LL1H',
 'LL2H',
 'LL3H',
 'MB2X',
 'MF20',
 'MF30',
 'MF60',
 'MT10',
 'MT2B',
 'MT5B',
 'MW&F',
 'MWS1',
 'MWS2',
 'PB2X',
 'PL15',
 'PL20',
 'PL30',
 'PP2P',
 'PP2S',
 'PR20',
 'PR30',
 'PR40',
 'PR60',
 'RB15',
 'RB20',
 'RB30',
 'RB40',
 'RB60',
 'RJ1X',
 'RJ2X',
 'RJXX',
 'SG10',
 'SK2V',
 'SKT1',
 'SKT2',
 'SKT4',
 'SKT6',
 'SN1X',
 'SN2X',
 'SU24',
 'SU60',
 'TR1K',
 'TR2K',
 'WP15',
 'WP2H',
 'WP30',
 'WP60',
 'WS20',
 'WS25',
 'WS30',
 'WS40',
 'WS60',
 'WSN1',
 'WSN2',
 'WTF2',
 'WTF3',
 'AB4',
 'ABG',
 'AC2',
 'AT4',
 'AT6',
 'BC1',
 'BC2',
 'BCR',
 'BGH',
 'BGK',
 'CW1',
 'CW2',
 'CWH',
 'DTM',
 'EDC',
 'F1K',
 'FDK',
 'FR2',
 'FRK',
 'FRT',
 'GC1',
 'GC2',
 'GR1',
 'GR2',
 'GU2',
 'KA2',
 'KA4',
 'KA6',
 'KAT',
 'KR1',
 'KR2',
 'KR3',
 'KR4',
 'KR6',
 'KS2',
 'KVS',
 'KW2',
 'KYT',
 'MB2',
 'MT2',
 'MT5',
 'MTT',
 'OW2',
 'OWG',
 'OWI',
 'P1G',
 'P1P',
 'P2G',
 'P2P',
 'PB2',
 'PP2',
 'PPP',
 'PPS',
 'PPT',
 'RCV',
 'RJ2',
 'RTV',
 'RXV',
 'SG5',
 'SG7',
 'SH2',
 'SHH',
 'SK2',
 'SKT',
 'SKV',
 'SP2',
 'SUT',
 'TB2',
 'TB4',
 'TR1',
 'TR2',
 'UNI',
 'W&F',
 'WS1',
 'WS2',
 'YAS',
 'YEP',
 'YHD',
 'AB',
 'BG',
 'F1',
 'F2',
 'FD',
 'FR',
 'GU',
 'ID',
 'KS',
 'KW',
 'MB',
 'MT',
 'P1',
 'P2',
 'PB',
 'PH',
 'PP',
 'PS',
 'RC',
 'RJ',
 'RS',
 'RT',
 'RX',
 'S2',
 'SC',
 'SH',
 'SK',
 'SP',
 'ST',
 'TB',
 'TR',
 'TX',
 'UC',
 'UN',
 'VD',
 'S']

In [122]:
def separate_prefix_number(row):
    
    pl = all_prefix_sort
    #print(pl)
    v = row['code']
    if row['prefix'] == '':
        not_find = True
        amo_id = row['amo_id']
        
        for el in pl:
            if el == row['code'][0:len(el)+1]:
                print(el, row['code'][0:len(el)+1], row['code'])
            #if el in row['code']:
                try:
                    v = el + '_' + row['code'][len(el):]
                    not_find = False
                except:
                    pass
#                 finally:
#                     return v
        if not_find:
            pl = prefix_amo   
            #print(pl)
            for el in pl:
                #print(el,row['code'][0:len(el)])
                if el == row['code'][0:len(el)]:
                    #print(el, row['code'][0:len(el)+1], row['code'])
                #if el in row['code']:
                    try:
                        v = el + '_' + row['code'][len(el):]
                    except:
                        pass
#                 finally:
#                     return v
    return v

In [118]:
df_amo_temp['code'] = df_amo_temp.apply(separate_prefix_number,axis=1)

TypeError: 'NoneType' object is not iterable

In [ ]:
df_amo_temp.head(5)

In [ ]:
df_amo_temp.loc[df_amo_temp['prefix'] == '','prefix'] = \
df_amo_temp['code'].apply(lambda x: re.split('[_]',x)[0] if ' ' in x or '_' in x else '')

In [ ]:
df_amo_temp.loc[df_amo_temp['number'] == '','number'] = \
df_amo_temp['code'].apply(lambda x: re.split('[_]',x)[1] if ' ' in x or '_' in x else '')

In [ ]:
df_amo_temp.head(5)

In [ ]:
df_not_separate_prefix = df_amo_temp.loc[~df_amo_temp['code'].str.contains('_')]

In [ ]:
df_not_separate_prefix.shape

In [ ]:
df_not_separate_prefix

In [ ]:
df_amo_temp['code'] = df_amo_temp.apply(lambda x: re.sub(r'(W)(F)', r'\1&\2', x['code']),axis=1)

#### Дополнительное поле prefix_V для "чистых префиксов" (без V)

In [ ]:
df_amo_temp['prefix'] = df_amo_temp.apply(lambda x: replace_cirillic_latin(x['prefix']),axis=1)

In [ ]:
df_amo_temp['prefix_V'] = df_amo_temp['prefix']

In [ ]:
df_amo_temp.loc[(df_amo_temp['prefix'].str[0] == 'V'),'prefix_V'] = df_amo_temp['prefix'].str[1:]

In [ ]:
df_amo_temp.head()

#### Отсутствующие префиксы

In [ ]:
prefix_amo = list(df_amo_temp['prefix_V'].unique())
prefix_amo.sort()
#prefix_amo = prefix_amo[1:]

##### Префиксы в AMO

In [ ]:
print(prefix_amo)

##### Префиксы, отсутсвующие в общем списке

In [ ]:
#missing_prefix = set(prefix_value).difference(set(prefix_amo))
missing_prefix = list(set(prefix_amo)-(set(all_prefix)))
missing_prefix.sort()

In [ ]:
print(missing_prefix)

In [ ]:
len(missing_prefix)

In [ ]:
print('AT'=='AT')

#### Товары, префиксы которых отсутствуют в списке категорий

In [ ]:
df_amo_missing_prefix = df_amo_temp.query('prefix in @missing_prefix')

In [ ]:
df_amo_missing_prefix.head()

In [ ]:
df_amo_missing_prefix.shape

Количество записей для префиксов, отсутствующих в общей базе

In [ ]:
df_amo_missing_prefix.groupby(['prefix'])['prefix'].count()

In [ ]:
df111 = df_amo_temp.query('prefix == "MF"')

In [ ]:
df111.head(10)

Префиксу WF соответствует W&F

In [ ]:
df_amo_temp.loc[df_amo_temp['prefix_V'] == 'WF','prefix_V'] = 'W&F'

In [ ]:
df_amo_temp.loc[df_amo_temp['prefix'] == 'WF','prefix'] = 'W&F'

In [ ]:
df_amo_temp.loc[df_amo_temp['prefix'] == 'VWF','prefix'] = 'VW&F'

#### База АМО без prefix

In [ ]:
df_amo_without_prefix = df_amo_temp.loc[df_amo_temp['prefix'] == '']

In [ ]:
df_amo_without_prefix.shape

In [ ]:
df_amo_without_prefix.head()

In [ ]:
#df_amo_temp = df_amo_temp.loc[df_amo_temp['prefix'] != '']

In [ ]:
df_amo_temp['card_type'] ='paper'

In [ ]:
#df_amo_temp['series'] =''

In [ ]:
df_amo_temp['design_type'] = 'design1'

In [ ]:
df_amo_temp['status'] = ''

In [ ]:
#df_amo_temp['stock_status'] = ''

In [ ]:
df_amo_temp['sale_price'] = 0

In [ ]:
df_amo_temp['expiry_date'] = ''

In [ ]:
df_amo_temp['created_at'] = ''

In [ ]:
df_amo_temp['updated_at'] = ''

In [ ]:
df_amo_temp['deleted_at'] = ''

In [ ]:
df_amo_temp.loc[(df_amo_temp['card_used_date'].notna()) |  (df_amo_temp['статус_погашения'] == 'Погашен'),'status'] = 'sold_used'

In [ ]:
df_amo_temp['supplier_payment_date'] = df_amo_temp['card_used_date']

In [ ]:
df_amo_temp.query('status=="sold_used"').head()

### Обработка поля **status**

In [ ]:
df_amo_temp.loc[(df_amo_temp['card_used_date'].notna()) |  \
                (df_amo_temp['статус_погашения'] == 'Погашен'),'status'] = 'sold_used'

### Обработка **sale_price**

#### Строки, являющиеся корневыми сделками

In [ ]:
lst_root_deal = list(df_amo_temp.query('корневая_сделка.notna()')['корневая_сделка'])

In [ ]:
print(lst_root_deal)

In [ ]:
len(lst_root_deal)

In [ ]:
def clear_num(num):
    """
    Очистка id корневой сделки и перевод ео в int
    """
    if num.isdigit():
        return int(num)
    else:
        l = len(num)-1
        while l>0:
            if num[l].isdigit():
                l -= 1
            else:
                break
        return int(num[l+1:])

Проверка:

In [ ]:
print(clear_num('КR2_230212'))

In [ ]:
lst_root_deal = list(map(clear_num,lst_root_deal))

Список id строк, являющимися корневыми сделками

In [ ]:
print(lst_root_deal)

In [ ]:
df_amo_temp.query('amo_id in @lst_root_deal').head()

Если в сделке 1 товар и сделка не имеет производных сделок, то использовать значение поля SUBTOTAL

#### Расчет sale_price для обычных товаров

In [ ]:
df_amo_temp.loc[(df_amo_temp['номер_2-го_сертификата'].isna()) & \
                (df_amo_temp['номер_3-го_сертификата'].isna()) & \
                (df_amo_temp['номер_4-го_сертификата'].isna()) & \
                (df_amo_temp['номер_5-го_сертификата'].isna()) & \
                (df_amo_temp['сертификат_на_тренера'].isna()) &\
                (~df_amo_temp['amo_id'].isin(lst_root_deal)) &\
                (df_amo_temp['корневая_сделка'].isna()),\
                'sale_price'] = df_amo_temp['subtotal']

Проверка

Сумма поля sale_price для сделок, являющихся корневыми

In [ ]:
df_amo_temp.query('amo_id in @lst_root_deal')['sale_price'].sum()

Сумма поля sale_price для сделок, не являющихся корневыми, не имеющих 2 серт, не имеющих серт на тренера и фотографа

In [ ]:
df_amo_temp.query('amo_id in @lst_root_deal')['subtotal'].sum()

In [ ]:
df_amo_temp.head()

База АМО c prefix

In [ ]:
df_amo_temp = df_amo_temp.loc[df_amo_temp['prefix'] != '']

In [ ]:
df_amo_temp.shape

In [ ]:
df_amo_temp['card_type'] = df_amo_temp['prefix'].apply(lambda x: 'electronic' if x[0] == 'V' else 'paper')

In [ ]:
df_amo_temp.query('amo_id==26139623').head()

In [ ]:
#df_amo_temp.query('корневая_сделка.notna()')

#Проверка:

In [ ]:
#pp = df_amo_temp.query('amo_id == 26139797')

In [ ]:
#pp

#### Расчет sale_price для корневых, имеющих 2-й сертификат

Функция для определения sale_price для

In [ ]:
def insert_sale111(row):    
    v = row['sale_price']
    if row['sale_price'] == 0:
        amo_id = row['amo_id']
        pr = row['prefix']
        v = 0
        str1 = f'sale_price != 0 & prefix == "{pr}"'
        try:
            v = df_amo_temp.query(str1).iloc[-1]['sale_price']
        except:
            pass
        finally:
            return v
    return v

In [ ]:
def insert_sale(row):    
    v = row['sale_price']
    #print(v)
    if row['sale_price'] == 0:
        d = row['дата_создания_сделки']
        amo_id = row['amo_id']
        pr = row['prefix']
        #v = 0
        str1 = f'sale_price != 0 & prefix == "{pr}"'
        try:
            #v = df_amo_temp.query(str1).iloc[-1]['sale_price']
            arr = df_amo_temp.query(str1)    
            arr['diff_date'] = arr['дата_создания_сделки'] - d
            arr = arr.sort_values(by='diff_date',ascending=True)
            arr.reset_index(drop= True , inplace= True)
            v = arr.iloc[0]['sale_price']
        except:
            pass
        finally:
            return v
    return v

In [ ]:
def insert_saleV(row):    
    v = row['sale_price']
    #print(v)
    if row['sale_price'] == 0:
        d = row['дата_создания_сделки']
        amo_id = row['amo_id']
        pr = row['prefix_V']
        #v = 0
        str1 = f'sale_price != 0 & prefix_V == "{pr}"'
        try:
            #v = df_amo_temp.query(str1).iloc[-1]['sale_price']
            arr = df_amo_temp.query(str1)    
            arr['diff_date'] = arr['дата_создания_сделки'] - d
            arr = arr.sort_values(by='diff_date',ascending=True)
            arr.reset_index(drop= True , inplace= True)
            v = arr.iloc[0]['sale_price']
        except:
            pass
        finally:
            return v
    return v

In [ ]:
df_amo_temp['sale_price'] = df_amo_temp.apply(insert_sale,axis=1)

In [ ]:
df_amo_temp['sale_price'] = df_amo_temp.apply(insert_saleV,axis=1)

Проверка:

In [ ]:
pp = df_amo_temp.query('amo_id == 26139623')

In [ ]:
pp

sale_price появился

#### Строки, оставшиеся без sale_price

In [ ]:
dd0 = df_amo_temp.query('sale_price == 0').head(10)

In [ ]:
dd0.shape

In [ ]:
dd0.head(10)

Несколько записей так и не получили sale_price

In [ ]:
df_amo_temp.info()

## Запись в файлы

### Объединение датафреймов без префиксов и с отсутствующими префиксами и запись в файл

In [ ]:
df_amo_missing_prefix = df_amo_temp.query('prefix in @missing_prefix')

In [ ]:
df_amo_missing_prefix.shape

In [ ]:
frames = [df_amo_without_prefix, df_amo_missing_prefix]

In [ ]:
cert_w_missing_prefix = pd.concat(frames)

In [ ]:
cert_w_missing_prefix.shape

In [ ]:
cert_w_missing_prefix.to_csv('r_cert_w_missing_prefix' + date_int + '.csv')

### Запись отсутствующих в Списке подкатегорий prefix в файл

In [ ]:
df_missing_prefix = pd.DataFrame({'prefix':missing_prefix})

In [ ]:
df_missing_prefix.shape

In [ ]:
df_missing_prefix.head()

In [ ]:
df_missing_prefix.to_csv('r_missing_prefix' + date_int + '.csv')

### (п.10) Запись товаров, необходимые поля которого заполнены

In [ ]:
df_amo_temp['amo_lead_id'] = df_amo_temp['amo_id']

In [ ]:
df_amo_temp['amo_id'] = ''

Итоговые столбцы из АМО

In [ ]:
lst_afm = ['id', 
           'amo_id',
           'amo_lead_id',
           'prefix',
           'prefix_V',
           'code',
           'card_type',
           'design_type',
           'status',
           'supplier_payment_date',
           'sale_price',
           'sale_date',
           'expiry_date',
           'card_used_date',
           'created_at',
           'updated_at',
           'deleted_at',
           'number',
]

Итоговые столбцы из Реестра

In [ ]:
df_values['prefix_V'] = df_values['prefix']

In [ ]:
lst_val = ['activity_value_id','prefix_V']

Датафреймы для объединения

In [ ]:
df_amo_for_merge = df_amo_temp.query('prefix_V in @prefix_values')

In [ ]:
df_amo_for_merge = df_amo_for_merge[lst_afm]

In [ ]:
df_amo_for_merge.head()

In [ ]:
df_value_for_merge = df_values[lst_val]

Объединение датафреймов

In [ ]:
df_list = pd.merge(df_amo_for_merge, df_value_for_merge,how="inner",on='prefix_V')

In [ ]:
df_list.head()

In [ ]:
df_list = df_list.drop('prefix_V', axis=1)

In [ ]:
df_list.info()

Запись в файл

In [ ]:
df_list.to_csv('r_certs_to_import' + date_int +'.csv')

### (п.11) Список товаров, чьи префиксы не обнаружены в list_of_values.csv, но есть в codes_archieve

In [ ]:
df_amo_temp = df_amo_temp.query('prefix_V in @archive_prefix')

In [ ]:
df_amo_for_write = df_amo_temp[lst_afm]

In [ ]:
df_amo_for_write = df_amo_for_write.drop('prefix_V', axis=1)

In [ ]:
df_amo_for_write.head()

In [ ]:
df_amo_for_write.info()

In [ ]:
df_amo_for_write.to_csv('r_certs_to_import_archieve_prefix' + date_int +'.csv')