In [883]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import re

## Чтение данных

In [884]:
df_amo= pd.read_csv('amocrm_sample_export.csv', encoding='utf-8')

In [885]:
df_values= pd.read_csv('list_of_values.csv', encoding='utf-8')

In [886]:
df_sample= pd.read_csv('certificates_list_sample.csv', encoding='utf-8')

In [887]:
#Вывод таблицы во всю ширину
pd.set_option('display.max_columns', None)
df_amo.head(5)

,ID,Этап сделки,Бюджет,Дата создания сделки,Дата закрытия,DELIVERY_PRICE,Стоимость доставки,PRODUCTS,PRICE,SUBTOTAL,Выручка от клиента,Направление (вид сертификата),Номер сертификата,КОРНЕВАЯ СДЕЛКА,Номер 2-го сертификата,Сертификат на фотографа,Сертификат на тренера,Статус погашения,Дата оплаты подрядчику
0,26165303,Успешно реализовано,5500,30.11.2023 17:43:20,30.11.2023 18:00:00,0.0,NaN,катание на картинге (Варианты: 40 минут катани...,5500.0,5500.0,5500,Картинг,VKA4_4314611,NaN,NaN,NaN,NaN,NaN,NaN
1,26163311,Успешно реализовано,8000,30.11.2023 14:58:27,01.12.2023 15:09:00,NaN,NaN,Мотокросс и Эндуро (Варианты: Персональная тре...,8000.0,8000.0,8000,Мото Мотокросс,MT 273176,NaN,NaN,NaN,NaN,NaN,NaN
2,26162989,Успешно реализовано,5450,30.11.2023 14:33:51,01.12.2023 15:20:00,450.0,NaN,Стрельба из боевого оружия (Варианты: Курс «на...,5450.0,5000.0,5450,Тир. Стрельба из боевого оружия,GU2 21041,NaN,NaN,NaN,NaN,NaN,NaN
3,26160427,Успешно реализовано,34567,30.11.2023 11:37:23,02.12.2023 16:01:00,NaN,NaN,"Универсальный 23456 (Варианты: 34 567 руб., Бу...",34567.0,34567.0,34567,Универс. 23.456 и 34.567,WTF3 269703,NaN,NaN,NaN,NaN,NaN,NaN
4,26158865,Успешно реализовано,9000,30.11.2023 09:39:04,30.11.2023 09:47:00,NaN,NaN,Аэротруба (Варианты: 10 минут полёта (для 1-2 ...,9000.0,9000.0,9000,Аэротруба,VAT10 4353286,NaN,NaN,NaN,NaN,NaN,NaN

In [888]:
df_amo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ID                             2622 non-null   int64
 1   Этап сделки                    2622 non-null   object
 2   Бюджет                         2622 non-null   int64
 3   Дата создания сделки           2622 non-null   object
 4   Дата закрытия                  2622 non-null   object
 5   DELIVERY_PRICE                 1647 non-null   float64
 6   Стоимость доставки             9 non-null      float64
 7   PRODUCTS                       2452 non-null   object
 8   PRICE                          2452 non-null   float64
 9   SUBTOTAL                       2452 non-null   float64
 10  Выручка от клиента             2498 non-null   object
 11  Направление (вид сертификата)  2622 non-null   object
 12  Номер сертификата              2622 non-null   object
 13  КОРНЕВАЯ СДЕЛКА                135 non-null    object
 14  Номер 2-го сертификата         82 non-null     object
 15  Сертификат на фотографа        16 non-null     object
 16  Сертификат на тренера          97 non-null     object
 17  Статус погашения               1048 non-null   object
 18  Дата оплаты подрядчику         1052 non-null   object
dtypes: float64(4), int64(2), object(13)
memory usage: 389.3+ KB

In [889]:
df_values.head(10)

,Id,Activity Name,Value,Status,Prefix,Purchase Price,Sale Price
0,1,Вейксёрф и вейкборд,2 часа вейксерфинга или вейкбординга\nна волне...,on_air,WS2,NaN,22500.0
1,2,Вейксёрф и вейкборд,1 час вейксерфинга или вейкбординга\nна волне ...,on_air,WS1,NaN,11000.0
2,3,Вейксёрф и вейкборд,40 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS40,NaN,7500.0
3,4,Вейксёрф и вейкборд,30 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS30,NaN,5500.0
4,5,Вейксёрф и вейкборд,25 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS25,NaN,5000.0
5,6,Вейксёрф и вейкборд,2 часа вейксерфинга или вейкбординга\nна любой...,on_air,WSN2,NaN,26500.0
6,7,Вейксёрф и вейкборд,1 час вейксерфинга или вейкбординга на любой в...,on_air,WSN1,NaN,13500.0
7,8,Вейксёрф и вейкборд,40 минут вейксерфинга или вейкбординга на любо...,on_air,WSN40,NaN,8500.0
8,9,Вейксёрф и вейкборд,25 минут вейксерфинга или вейкбординга на любо...,on_air,WSN25,NaN,6000.0
9,10,Флайборд,1 час полёта на флайборде,on_air,MF60,NaN,12500.0

In [890]:
df_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              198 non-null    int64
 1   Activity Name   198 non-null    object
 2   Value           196 non-null    object
 3   Status          198 non-null    object
 4   Prefix          198 non-null    object
 5   Purchase Price  167 non-null    float64
 6   Sale Price      196 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.0+ KB

Столбцы в нижний регистр и удаление пробелов

In [891]:
df_amo.columns = df_amo.columns.str.lower()
df_values.columns = df_values.columns.str.lower()

In [892]:
df_amo.columns = df_amo.columns.str.strip()
df_values.columns = df_values.columns.str.strip()

In [893]:
df_amo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             2622 non-null   int64
 1   этап сделки                    2622 non-null   object
 2   бюджет                         2622 non-null   int64
 3   дата создания сделки           2622 non-null   object
 4   дата закрытия                  2622 non-null   object
 5   delivery_price                 1647 non-null   float64
 6   стоимость доставки             9 non-null      float64
 7   products                       2452 non-null   object
 8   price                          2452 non-null   float64
 9   subtotal                       2452 non-null   float64
 10  выручка от клиента             2498 non-null   object
 11  направление (вид сертификата)  2622 non-null   object
 12  номер сертификата              2622 non-null   object
 13  корневая сделка                135 non-null    object
 14  номер 2-го сертификата         82 non-null     object
 15  сертификат на фотографа        16 non-null     object
 16  сертификат на тренера          97 non-null     object
 17  статус погашения               1048 non-null   object
 18  дата оплаты подрядчику         1052 non-null   object
dtypes: float64(4), int64(2), object(13)
memory usage: 389.3+ KB

Удаление пробелов и вставка символа "_"

In [894]:
df_amo.columns = df_amo.columns.map(lambda x: re.sub( '(?<!^)(?=[ ])', '_', x ).lower())
df_amo.columns = df_amo.columns.map(lambda x: re.sub( ' ', '', x ))

In [895]:
df_values.columns = df_values.columns.map(lambda x: re.sub( '(?<!^)(?=[ ])', '_', x ).lower())
df_values.columns = df_values.columns.map(lambda x: re.sub( ' ', '', x ))

In [896]:
df_values.head(5)

,id,activity_name,value,status,prefix,purchase_price,sale_price
0,1,Вейксёрф и вейкборд,2 часа вейксерфинга или вейкбординга\nна волне...,on_air,WS2,NaN,22500.0
1,2,Вейксёрф и вейкборд,1 час вейксерфинга или вейкбординга\nна волне ...,on_air,WS1,NaN,11000.0
2,3,Вейксёрф и вейкборд,40 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS40,NaN,7500.0
3,4,Вейксёрф и вейкборд,30 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS30,NaN,5500.0
4,5,Вейксёрф и вейкборд,25 минут вейксерфинга или вейкбординга\nна вол...,on_air,WS25,NaN,5000.0

In [897]:
df_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              198 non-null    int64
 1   activity_name   198 non-null    object
 2   value           196 non-null    object
 3   status          198 non-null    object
 4   prefix          198 non-null    object
 5   purchase_price  167 non-null    float64
 6   sale_price      196 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 11.0+ KB

In [898]:
prefix_values = df_values['prefix'].unique()

In [899]:
prefix_values

array(['WS2', 'WS1', 'WS40', 'WS30', 'WS25', 'WSN2', 'WSN1', 'WSN40',
       'WSN25', 'MF60', 'MF30', 'MF20', 'HB60', 'HB30', 'HY60', 'HY30',
       '2WP24', 'WP2H', 'WP60', 'WP15', 'SU24', 'SU60', 'SUT', 'EFL30',
       'EFL60', 'SKI60', 'SKI40', 'W&F', 'MWS2', 'MWS1', 'MWS40', 'MWS30',
       'MWS25', 'MWSN2', 'MWSN1', 'MWSN40', 'MWSN25', 'MMF60', 'MMF30',
       'MMF20', 'MHB60', 'MHY60', 'MHY30', '2MWP24', 'MWP2H', 'MWP60',
       'MWP15', 'MSU24', 'MSU60', 'MEFL30', 'MEFL60', 'MSKI60', 'MSKI40',
       'AC2', 'AC60', 'AC30', 'RB60', 'RB40', 'RB30', 'RB20', 'RB15',
       'CSR60', 'CS60', 'CS40', 'CS30', 'CS20', 'PR60', 'PR40', 'PR30',
       'PR20', 'RT', 'RTV', 'RC', 'RCV', 'RX', 'RXV', 'DRCH', 'DRC2H',
       'ED3H', 'EDС', 'AT4', 'AT6', 'AT10', 'AT15', 'AT30', 'AT4K',
       'AT6K', 'AT60', 'BG', 'BGH', 'BGK', 'BGKH', 'GR1', 'GR2', 'OWG',
       'OWI', 'OW2', 'CW1', 'CW2', 'CWH', 'CW1T', 'CW2T', 'KA2', 'KA4',
       'KA6', 'KAT', 'KAT2', 'KAT4', 'LL1H', 'LL1HP', 'LL2H', 'LL2HP',
       'LL3H', 'KW', 'KW2', 'KS', 'KS2', 'KYT', 'KYT2', 'KV1X1', 'KVP1X1',
       'KV2X1', 'KVP2X1', 'BF40', 'BF90', 'BF180', 'YEР', 'YHD', 'YAS',
       'DT30', 'DT32', 'DT40', 'DT42', 'DT60', 'DT62', 'DTM', 'МТ', 'МТТ',
       'МТ5', 'MT10', 'РB', 'РB2', 'РB2X', 'EB1x', 'EB2x', 'EB4x', 'MB',
       'MB2', 'MB2X', 'PL15', 'PL20', 'PL30', 'PP', 'PP2', 'PPP', 'PP2P',
       'PPS', 'PP2S', 'PPT', 'SK', 'SK2', 'SKV', 'SK2V', 'SKT', 'RJ',
       'RJ2', 'GC1', 'GC2', 'SN1X', 'SN2X', 'SKT1', 'SKT2', 'SKT4',
       'SKT6', 'SKT10', 'SG5', 'SG10', 'GU', 'GU2', 'MW&F', 'WTF2',
       'WTF3', 'SH', 'SH2', 'SHH', 'FR', 'FR2,', 'FRT', 'FRK', 'FRTK',
       'TB', 'TB2', 'TB4', 'ABG', 'AB4G', 'AB', 'AB4'], dtype=object)

In [900]:
len(prefix_values)

197

Все prefix прописные

Копирование исходной базы

In [901]:
df_amo_temp = df_amo.copy()

Переименование столбцов

In [902]:
df_amo_temp.rename(columns = {'номер_сертификата':'code', 'id':'amo_id','дата_закрытия':'sale_date','дата_оплаты_подрядчику':'card_used_date'}, inplace = True )

In [903]:
df_values.rename(columns = {'id':'activity_value_id' }, inplace = True )

In [904]:
df_amo_temp['code'] = df_amo_temp['code'].str.upper()

In [905]:
df_amo_temp['дата_создания_сделки'] = pd.to_datetime(df_amo_temp['дата_создания_сделки'] )

C:\Users\fiv_e\AppData\Local\Temp\ipykernel_13484\1868446354.py:1: UserWarning: Parsing dates in %d.%m.%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_amo_temp['дата_создания_сделки'] = pd.to_datetime(df_amo_temp['дата_создания_сделки'] )

In [906]:
df_amo_temp['sale_date'] = pd.to_datetime(df_amo_temp['sale_date'])

C:\Users\fiv_e\AppData\Local\Temp\ipykernel_13484\3706027285.py:1: UserWarning: Parsing dates in %d.%m.%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_amo_temp['sale_date'] = pd.to_datetime(df_amo_temp['sale_date'])

In [907]:
df_amo_temp['card_used_date'] = pd.to_datetime(df_amo_temp['card_used_date'],errors='coerce')

In [908]:
df_amo_temp = df_amo_temp.sort_values(by=["дата_создания_сделки"], ascending=True)

In [909]:
df_amo_temp = df_amo_temp.reset_index(drop=True)

In [910]:
df_amo_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   amo_id                         2622 non-null   int64
 1   этап_сделки                    2622 non-null   object
 2   бюджет                         2622 non-null   int64
 3   дата_создания_сделки           2622 non-null   datetime64[ns]
 4   sale_date                      2622 non-null   datetime64[ns]
 5   delivery_price                 1647 non-null   float64
 6   стоимость_доставки             9 non-null      float64
 7   products                       2452 non-null   object
 8   price                          2452 non-null   float64
 9   subtotal                       2452 non-null   float64
 10  выручка_от_клиента             2498 non-null   object
 11  направление_(вид_сертификата)  2622 non-null   object
 12  code                           2622 non-null   object
 13  корневая_сделка                135 non-null    object
 14  номер_2-го_сертификата         82 non-null     object
 15  сертификат_на_фотографа        16 non-null     object
 16  сертификат_на_тренера          97 non-null     object
 17  статус_погашения               1048 non-null   object
 18  card_used_date                 441 non-null    datetime64[ns]
dtypes: datetime64[ns](3), float64(4), int64(2), object(10)
memory usage: 389.3+ KB

In [911]:
df_amo_temp.head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date
0,23400119,Успешно реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы (Варианты: 1 снежик на 1 час, Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X 2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02
1,23400461,Успешно реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет на параплане (Варианты: 1 полет с инстру...,4500.0,4500.0,4500,Параплан,P1G 251473,NaN,NaN,NaN,NaN,NaN,NaT
2,23400807,Успешно реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы (Варианты: 2 снежика на 1 час, Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X 2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02
3,23401947,Успешно реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный сертификат на 12 345 рублей - 1x123...,12345.0,12345.0,12345,Универсальный Мосвейк 12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT
4,23403789,Успешно реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы (Варианты: 2 квадрика на 1 час без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1 138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT

Определение разделителей в поле **code**

In [912]:
cc = df_amo_temp['code'].unique()

In [913]:
set_cc = set()

In [914]:
for el in cc:
    set_cc.update(el)

In [915]:
print(set_cc)

{'V', '4', ')', 'P', '&', 'А', '_', 'D', 'Y', 'М', 'W', 'И', 'K', 'N', 'C', 'B', 'Т', '8', 'U', '5', '7', 'M', '3', '(', 'E', 'I', '\xa0', '1', 'В', '9', '0', 'G', 'H', 'Н', 'S', 'F', 'Р', 'R', ' ', 'A', 'X', 'T', 'L', 'J', 'С', '6', 'К', '2'}

В качестве разделителей используются символы ' ', '_', '\xa0' и их комбинации

В значениях поля code имеются символы кириллицы

Замена кириллицы на латинские символы

In [916]:
alf_ciril = 'Е Т О Р А Н К Х С В М'.split()
alf_latin = 'E T O P A H K X C B M'.split()

In [917]:
alf_ciril

['Е', 'Т', 'О', 'Р', 'А', 'Н', 'К', 'Х', 'С', 'В', 'М']

In [918]:
def replace_cirillic_latin(row):
    v = row['code']
    new_v = ''
    for i in range(len(v)):
        simv = v[i]
        if simv in alf_ciril:
            pos = alf_ciril.index(simv)
            simv = alf_latin[pos]
        new_v += simv
    return new_v

In [919]:
df_amo_temp['code'] = df_amo_temp.apply(replace_cirillic_latin,axis=1)

Замена всех возможных разделителей на '_'

In [920]:
#df_amo_temp['code'] = df_amo_temp['code'].str.replace('[^_ \xa0]+([ _\xa0]+)\d+','_',regex=True)
df_amo_temp.replace(r'([ _\xa0]+)',r'_',regex=True,inplace=True)

In [921]:
df_amo_temp.head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date
0,23400119,Успешно_реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X_2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02
1,23400461,Успешно_реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет_на_параплане_(Варианты:_1_полет_с_инстру...,4500.0,4500.0,4500,Параплан,P1G_251473,NaN,NaN,NaN,NaN,NaN,NaT
2,23400807,Успешно_реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы_(Варианты:_2_снежика_на_1_час,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X_2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02
3,23401947,Успешно_реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный_сертификат_на_12_345_рублей_-_1x123...,12345.0,12345.0,12345,Универсальный_Мосвейк_12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT

Формирование новых столбцов в базе АМО

In [922]:
df_amo_temp['id'] = ''

In [923]:
df_amo_temp['prefix'] = df_amo_temp['code'].apply(lambda x: re.split('[ _]',x)[0] if ' ' in x or '_' in x else '')

In [924]:
df_amo_temp['number'] = df_amo_temp['code'].apply(lambda x: re.split('[ _]',x)[1] if ' ' in x or '_' in x else '')

In [925]:
df_amo_temp.head(10)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number
0,23400119,Успешно_реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X_2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352
1,23400461,Успешно_реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет_на_параплане_(Варианты:_1_полет_с_инстру...,4500.0,4500.0,4500,Параплан,P1G_251473,NaN,NaN,NaN,NaN,NaN,NaT,,P1G,251473
2,23400807,Успешно_реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы_(Варианты:_2_снежика_на_1_час,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X_2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270
3,23401947,Успешно_реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный_сертификат_на_12_345_рублей_-_1x123...,12345.0,12345.0,12345,Универсальный_Мосвейк_12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834
5,23408953,Успешно_реализовано,27000,2023-01-05 10:02:22,2023-01-05 11:31:00,NaN,NaN,Заезд_на_спорткаре_по_гоночной_трассе_(Вариант...,27000.0,27000.0,27000,Авто_Заезд_на_спорткаре,VRCV_2477875,NaN,NaN,NaN,NaN,NaN,NaT,,VRCV,2477875
6,23409993,Успешно_реализовано,3500,2023-01-05 13:43:49,2023-01-06 08:06:00,NaN,NaN,"Вейк_в_бассейне_(Варианты:_Start_Up,_Бумажный_...",3500.0,3500.0,3500,Вейк-парк_крытый,VGR1_2480017,NaN,NaN,NaN,NaN,NaN,NaT,,VGR1,2480017
7,23409837,Успешно_реализовано,7000,2023-01-05 13:57:46,2023-01-05 14:41:00,NaN,NaN,"Зимний_кайтинг_(Варианты:_2_часа_для_одного,_Б...",7000.0,7000.0,7000,Сноукайтинг,VSKT1_2426359,NaN,NaN,NaN,NaN,NaN,NaT,,VSKT1,2426359
8,23410089,Успешно_реализовано,15500,2023-01-05 14:17:46,2023-01-12 13:33:00,500.0,NaN,Вертолет_Robinson_R44_(Варианты:_20_минут_полё...,15500.0,15000.0,15500,Авиа_Вертолет,RB20_155687,NaN,NaN,NaN,NaN,Погашен,2023-03-07,,RB20,155687
9,23411393,Успешно_реализовано,8300,2023-01-05 19:46:14,2023-01-15 17:28:00,500.0,NaN,Аэротруба_(Варианты:_4_минуты_полёта_(для_1_че...,8300.0,7800.0,8300,Аэротруба,AT4_127813,NaN,NaN,NaN,NaN,Погашен,2023-08-10,,AT4,127813

In [926]:
prefix_amo = list(df_amo_temp['prefix'].unique())
prefix_amo.sort()
prefix_amo = prefix_amo[1:]

In [927]:
print(prefix_amo)

['AC60', 'AT10', 'AT15', 'AT4', 'AT4K', 'AT6', 'AT6K', 'BF180', 'BF40', 'BF90', 'BG', 'BGH', 'CS20', 'CS30', 'CS40', 'CS60', 'CW1', 'CW2', 'DRC2H', 'DT230', 'DT240', 'DT30', 'DT40', 'DT60', 'EB1X', 'EB2X', 'ED3H', 'EDC', 'EF30', 'EFL30', 'EFL60', 'ES130', 'F1', 'GC1', 'GC2', 'GR1', 'GR1X1', 'GR2', 'GU', 'GU2', 'HB20', 'HB30', 'KA2', 'KA4', 'KA6', 'KAT', 'KAT2', 'KR2', 'KR4', 'KS', 'KS2', 'KV1X1', 'KV2X1', 'KVP1X1', 'KVP2X1', 'LL1H', 'LL2H', 'MF', 'MF20', 'MF30', 'MF60', 'MT', 'MT2', 'MT5', 'MTT', 'P1', 'P1G', 'P1P', 'P2', 'P2G', 'PB', 'PB2', 'PB2X', 'PPP', 'PR20', 'PR30', 'PR40', 'PR60', 'PS', 'RB15', 'RB20', 'RB30', 'RC', 'RCV', 'RJ', 'RJ2', 'RTV', 'RXV', 'S', 'S2', 'SC', 'SC7', 'SG7', 'SH', 'SH2', 'SHH', 'SKI40', 'SKIN60', 'SKT1', 'SKT2', 'SKV', 'SN1X', 'SN1X1', 'SN2X', 'SN2X1', 'SP', 'SP2', 'ST', 'SU24', 'SU60', 'UN', 'VAC30', 'VAC60', 'VAT10', 'VAT15', 'VAT30', 'VAT4', 'VAT4K', 'VAT6', 'VAT6K', 'VBF180', 'VBF40', 'VBF90', 'VBG', 'VBGH', 'VBGK', 'VBGKH', 'VCS20', 'VCS30', 'VCS40', 'VCS60', 'VCW1', 'VCW1T', 'VCW2', 'VCW2T', 'VDRC2H', 'VDT30', 'VDT40', 'VDT60', 'VDT62', 'VDTM', 'VEB1X', 'VEB2X', 'VED3H', 'VEF30', 'VEF60', 'VEFL', 'VEFL30', 'VFR', 'VFR2', 'VGC1', 'VGC2', 'VGR1', 'VGR2', 'VGU', 'VGU2', 'VHB20', 'VHB30', 'VHY30', 'VHY30T', 'VHY60', 'VHY60T30', 'VKA2', 'VKA4', 'VKA6', 'VKAT', 'VKAT2', 'VKAT4', 'VKV1X', 'VKV1X1', 'VKV2X1', 'VKVP1X', 'VKVP1X1', 'VKVP2X1', 'VLB1X', 'VLL1H', 'VLL2H', 'VLL3H', 'VMB', 'VMB2', 'VMB2X', 'VMF20', 'VMF30', 'VMF60', 'VMT', 'VMT2', 'VMT5', 'VMTT', 'VPB', 'VPP', 'VPP2', 'VPP2P', 'VPPP', 'VPPS', 'VPR20', 'VPR30', 'VPR60', 'VRC', 'VRCV', 'VRJ', 'VRJ1X', 'VRJ2', 'VRJ2X', 'VRTV', 'VS', 'VS2', 'VSC10', 'VSC7', 'VSG7', 'VSH', 'VSH2', 'VSK', 'VSK2', 'VSK2V', 'VSKI40', 'VSKI60', 'VSKT', 'VSKT1', 'VSKV', 'VSN1X', 'VSN2X', 'VSN2X1', 'VSP', 'VSP2', 'VST', 'VSU24', 'VSU60', 'VSUT', 'VSVH', 'VUN', 'VW&F', 'VWF', 'VWP15', 'VWP60', 'VWPA', 'VWS20', 'VWS20T', 'VWS30', 'VWS30T', 'VWS40', 'VWS40T', 'VWS60', 'VWS60T', 'VWSN40', 'VWSN40T', 'VWSN60', 'VWSN60T', 'VWTF', 'VWTF2', 'VYAS', 'VYEP', 'W&F', 'WF', 'WP15', 'WP2H', 'WP60', 'WS20', 'WS30', 'WS30T', 'WS40', 'WS60', 'WSN40', 'WSN60', 'WTF2', 'WTF3', 'WVS30', 'YEP']

Некоторые значения в code без разделителей, потому не выделились prefix и number

Отделение prefix от number

In [928]:
def separate_prefix_number(row):
    pl = prefix_amo
    v = row['code']
    if row['prefix'] == '':
        amo_id = row['amo_id']
        
        for el in pl:
            if el in row['code']:
                try:
                    v = el + '_' + row['code'][len(el):] 
                except:
                    pass
                finally:
                    return v
    return v

In [929]:
df_amo_temp['code'] = df_amo_temp.apply(separate_prefix_number,axis=1)

In [930]:
df_amo_temp.head(5)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number
0,23400119,Успешно_реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X_2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352
1,23400461,Успешно_реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет_на_параплане_(Варианты:_1_полет_с_инстру...,4500.0,4500.0,4500,Параплан,P1G_251473,NaN,NaN,NaN,NaN,NaN,NaT,,P1G,251473
2,23400807,Успешно_реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы_(Варианты:_2_снежика_на_1_час,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X_2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270
3,23401947,Успешно_реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный_сертификат_на_12_345_рублей_-_1x123...,12345.0,12345.0,12345,Универсальный_Мосвейк_12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834

In [931]:
df_amo_temp.loc[df_amo_temp['prefix'] == '','prefix'] = \
df_amo_temp['code'].apply(lambda x: re.split('[_]',x)[0] if ' ' in x or '_' in x else '')

In [932]:
df_amo_temp.loc[df_amo_temp['number'] == '','number'] = \
df_amo_temp['code'].apply(lambda x: re.split('[_]',x)[1] if ' ' in x or '_' in x else '')

In [933]:
df_amo_temp.head(5)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number
0,23400119,Успешно_реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X_2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352
1,23400461,Успешно_реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет_на_параплане_(Варианты:_1_полет_с_инстру...,4500.0,4500.0,4500,Параплан,P1G_251473,NaN,NaN,NaN,NaN,NaN,NaT,,P1G,251473
2,23400807,Успешно_реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы_(Варианты:_2_снежика_на_1_час,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X_2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270
3,23401947,Успешно_реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный_сертификат_на_12_345_рублей_-_1x123...,12345.0,12345.0,12345,Универсальный_Мосвейк_12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834

In [934]:
#df_amo_temp = df_amo_temp.loc[df_amo_temp['prefix'] != '']

In [935]:
df_amo_temp['card_type'] ='paper'

In [936]:
df_amo_temp['series'] =''

In [937]:
df_amo_temp['design_type'] = 'design1'

In [938]:
df_amo_temp['status'] = ''

In [939]:
df_amo_temp['stock_status'] = ''

In [940]:
df_amo_temp['sale_price'] = 0

In [941]:
df_amo_temp['expiry_date'] = ''

In [942]:
df_amo_temp['created_at'] = ''

In [943]:
df_amo_temp['updated_at'] = ''

In [944]:
df_amo_temp['deleted_at'] = ''

In [945]:
df_amo_temp.loc[(df_amo_temp['card_used_date'].notna()) |  (df_amo_temp['статус_погашения'] == 'Погашен'),'status'] = 'sold_used'

In [946]:
df_amo_temp.query('status=="sold_used"').head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
0,23400119,Успешно_реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X_2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352,paper,,design1,sold_used,,0,,,,
2,23400807,Успешно_реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы_(Варианты:_2_снежика_на_1_час,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X_2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270,paper,,design1,sold_used,,0,,,,
3,23401947,Успешно_реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный_сертификат_на_12_345_рублей_-_1x123...,12345.0,12345.0,12345,Универсальный_Мосвейк_12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026,paper,,design1,sold_used,,0,,,,
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834,paper,,design1,sold_used,,0,,,,
8,23410089,Успешно_реализовано,15500,2023-01-05 14:17:46,2023-01-12 13:33:00,500.0,NaN,Вертолет_Robinson_R44_(Варианты:_20_минут_полё...,15500.0,15000.0,15500,Авиа_Вертолет,RB20_155687,NaN,NaN,NaN,NaN,Погашен,2023-03-07,,RB20,155687,paper,,design1,sold_used,,0,,,,

Обработка **sale_price**

In [947]:
df_amo_temp['номер_2-го_сертификата'].notna().sum()

82

In [948]:
df_amo_temp['сертификат_на_тренера'].notna().sum()

97

In [949]:
df_amo_temp['сертификат_на_фотографа'].notna().sum()

16

Если в сделке 1 товар и сделка не имеет производных сделок, то использовать значение поля SUBTOTAL

In [950]:
df_amo_temp.loc[(df_amo_temp['номер_2-го_сертификата'].isna()) & \
                (df_amo_temp['сертификат_на_тренера'].isna()) &\
                (df_amo_temp['сертификат_на_фотографа'].isna()) &\
                (df_amo_temp['корневая_сделка'].isna()),\
                'sale_price'] = df_amo_temp['subtotal']

In [951]:
df_amo_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 32 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   amo_id                         2622 non-null   int64
 1   этап_сделки                    2622 non-null   object
 2   бюджет                         2622 non-null   int64
 3   дата_создания_сделки           2622 non-null   datetime64[ns]
 4   sale_date                      2622 non-null   datetime64[ns]
 5   delivery_price                 1647 non-null   float64
 6   стоимость_доставки             9 non-null      float64
 7   products                       2452 non-null   object
 8   price                          2452 non-null   float64
 9   subtotal                       2452 non-null   float64
 10  выручка_от_клиента             2498 non-null   object
 11  направление_(вид_сертификата)  2622 non-null   object
 12  code                           2622 non-null   object
 13  корневая_сделка                135 non-null    object
 14  номер_2-го_сертификата         82 non-null     object
 15  сертификат_на_фотографа        16 non-null     object
 16  сертификат_на_тренера          97 non-null     object
 17  статус_погашения               1048 non-null   object
 18  card_used_date                 441 non-null    datetime64[ns]
 19  id                             2622 non-null   object
 20  prefix                         2622 non-null   object
 21  number                         2622 non-null   object
 22  card_type                      2622 non-null   object
 23  series                         2622 non-null   object
 24  design_type                    2622 non-null   object
 25  status                         2622 non-null   object
 26  stock_status                   2622 non-null   object
 27  sale_price                     2585 non-null   float64
 28  expiry_date                    2622 non-null   object
 29  created_at                     2622 non-null   object
 30  updated_at                     2622 non-null   object
 31  deleted_at                     2622 non-null   object
dtypes: datetime64[ns](3), float64(5), int64(2), object(22)
memory usage: 655.6+ KB

In [952]:
df_amo_temp.head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
0,23400119,Успешно_реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X_2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352,paper,,design1,sold_used,,5000.0,,,,
1,23400461,Успешно_реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет_на_параплане_(Варианты:_1_полет_с_инстру...,4500.0,4500.0,4500,Параплан,P1G_251473,NaN,NaN,NaN,NaN,NaN,NaT,,P1G,251473,paper,,design1,,,4500.0,,,,
2,23400807,Успешно_реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы_(Варианты:_2_снежика_на_1_час,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X_2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270,paper,,design1,sold_used,,9000.0,,,,
3,23401947,Успешно_реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный_сертификат_на_12_345_рублей_-_1x123...,12345.0,12345.0,12345,Универсальный_Мосвейк_12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026,paper,,design1,sold_used,,12345.0,,,,
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834,paper,,design1,sold_used,,0.0,,,,

Обработка поля **status**

In [953]:
df_amo_temp.loc[(df_amo_temp['card_used_date'].notna()) |  \
                (df_amo_temp['статус_погашения'] == 'Погашен'),'status'] = 'sold_used'

База АМО без prefix

In [954]:
df_amo_without_prefix = df_amo_temp.loc[df_amo_temp['prefix'] == '']

In [955]:
df_amo_without_prefix.shape

(7, 32)

Для дальнейшей работы потребуется наличие prefix

In [956]:
df_amo_without_prefix.head(10)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
20,23443225,Успешно_реализовано,0,2023-01-10 18:29:34,2023-01-10 18:29:00,NaN,NaN,NaN,NaN,NaN,NaN,Вейк-парк,VWP62133,NaN,NaN,NaN,NaN,NaN,NaT,,,,paper,,design1,,,NaN,,,,
29,23456591,Успешно_реализовано,10500,2023-01-12 17:38:01,2023-01-14 05:22:00,500.0,NaN,Подарочный_сертификатв_вейк-парк_(Выберите_тип...,10500.0,10000.0,10500,Вейк-парк,2WP89087,NaN,NaN,NaN,NaN,NaN,NaT,,,,paper,,design1,,,10000.0,,,,
178,23691835,Успешно_реализовано,5000,2023-02-16 20:33:34,2023-02-17 23:16:00,350.0,NaN,Полет_на_параплане_(Варианты:_1_полет_с_инстру...,4850.0,4500.0,5000,Параплан,80688,NaN,NaN,NaN,NaN,NaN,NaT,,,,paper,,design1,,,4500.0,,,,
464,23959571,Успешно_реализовано,5600,2023-03-28 19:29:43,2023-03-28 22:01:00,NaN,NaN,Аэротруба_(Варианты:_6_минут_полёта_(для_1-2_ч...,5600.0,5600.0,5600,Аэротруба,VAT37112,NaN,NaN,NaN,NaN,NaN,NaT,,,,paper,,design1,,,5600.0,,,,
565,24084549,Успешно_реализовано,5700,2023-04-15 21:38:45,2023-05-01 16:47:00,500.0,NaN,катание_на_картинге_(Варианты:_40_минут_катани...,5700.0,5200.0,NaN,Картинг,75453,NaN,NaN,NaN,NaN,NaN,NaT,,,,paper,,design1,,,5200.0,,,,
696,24217649,Успешно_реализовано,2000,2023-05-04 13:54:40,2023-05-04 14:24:00,0.0,NaN,Подарочный_сертификатна_сап-сёрфинг_(Выберите_...,2000.0,2000.0,2000,САП-сёрф,29510,NaN,NaN,NaN,NaN,NaN,NaT,,,,paper,,design1,,,2000.0,,,,
1644,24816735,Успешно_реализовано,0,2023-07-15 09:04:30,2023-07-17 12:46:00,NaN,NaN,NaN,NaN,NaN,0,Багги,19529,#24815607,BG_220721,NaN,NaN,NaN,NaT,,,,paper,,design1,,,0.0,,,,

База АМО c prefix

In [957]:
df_amo_temp = df_amo_temp.loc[df_amo_temp['prefix'] != '']

In [958]:
df_amo_temp['card_type'] = df_amo_temp['prefix'].apply(lambda x: 'electronic' if x[0] == 'V' else 'paper')

In [959]:
df_amo_temp.query('amo_id==26139623').head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
2611,26139623,Успешно_реализовано,11450,2023-11-28 13:06:38,2023-12-02 22:29:00,450.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",11450.0,11000.0,11450,Снегоходы,SN1X_199622,NaN,SN1X_191480,NaN,NaN,NaN,NaT,,SN1X,199622,paper,,design1,,,0.0,,,,

In [960]:
df_amo_temp.query('корневая_сделка.notna()')

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
31,23459939,Успешно_реализовано,0,2023-01-13 11:41:15,2023-01-13 11:42:00,NaN,NaN,NaN,NaN,NaN,NaN,Искусственная_волна,VCW1T_2437849,#23459729,NaN,NaN,NaN,Погашен,2023-05-06,,VCW1T,2437849,electronic,,design1,sold_used,,0.0,,,,
38,23466787,Успешно_реализовано,0,2023-01-14 18:11:28,2023-01-18 10:48:00,NaN,NaN,NaN,NaN,NaN,NaN,Снегоходы,S_N2X226233,1715029001,NaN,NaN,NaN,Погашен,2023-03-03,,S,N2X226233,paper,,design1,sold_used,,0.0,,,,
103,23588587,Успешно_реализовано,0,2023-01-31 14:39:58,2023-01-31 14:40:00,NaN,NaN,NaN,NaN,NaN,NaN,Мото_Мотокросс,MT2_159461,#23586703,NaN,NaN,NaN,Погашен,2023-03-05,,MT2,159461,paper,,design1,sold_used,,0.0,,,,
104,23590237,Успешно_реализовано,8000,2023-01-31 18:10:26,2023-02-01 00:35:00,NaN,NaN,NaN,NaN,NaN,8000,Авто_Дрифт,VDRC2H_2598560,#23514709,NaN,NaN,NaN,NaN,NaT,,VDRC2H,2598560,electronic,,design1,,,0.0,,,,
126,23627015,Успешно_реализовано,0,2023-02-06 16:32:58,2023-02-07 18:19:00,NaN,NaN,NaN,NaN,NaN,NaN,Мото_Дрифт-трайк,DT60_282777,#23624295,NaN,NaN,NaN,Погашен,NaT,,DT60,282777,paper,,design1,sold_used,,0.0,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2505,25885815,Успешно_реализовано,0,2023-11-03 08:49:52,2023-11-03 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,Тир._Стрельба_из_боевого_оружия,VGU_4243962,#25885733,NaN,NaN,NaN,NaN,NaT,,VGU,4243962,electronic,,design1,,,0.0,,,,
2528,25939051,Успешно_реализовано,0,2023-11-09 16:31:32,2023-11-09 16:51:00,NaN,NaN,NaN,NaN,NaN,0,Багги,VBG_4327290,#25938825,NaN,NaN,NaN,NaN,NaT,,VBG,4327290,electronic,,design1,,,0.0,,,,
2552,25988317,Успешно_реализовано,0,2023-11-14 17:20:26,2023-11-14 17:29:00,NaN,NaN,NaN,NaN,NaN,0,Картинг,VKAT_4319612,#25988183,NaN,NaN,NaN,NaN,NaT,,VKAT,4319612,electronic,,design1,,,0.0,,,,
2580,26042895,Успешно_реализовано,0,2023-11-19 10:36:50,2023-11-20 12:51:00,NaN,NaN,NaN,NaN,NaN,NaN,Картинг,KAT_154768,#26042871,NaN,NaN,NaN,NaN,NaT,,KAT,154768,paper,,design1,,,0.0,,,,
2612,26139797,Успешно_реализовано,0,2023-11-28 13:18:52,2023-12-02 22:30:00,NaN,NaN,NaN,NaN,NaN,0,Снегоходы,SN1X_184479,#26139623,NaN,NaN,NaN,NaN,NaT,,SN1X,184479,paper,,design1,,,0.0,,,,

Проверка:

In [961]:
pp = df_amo_temp.query('amo_id == 26139797')

In [962]:
pp

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
2612,26139797,Успешно_реализовано,0,2023-11-28 13:18:52,2023-12-02 22:30:00,NaN,NaN,NaN,NaN,NaN,0,Снегоходы,SN1X_184479,#26139623,NaN,NaN,NaN,NaN,NaT,,SN1X,184479,paper,,design1,,,0.0,,,,

Функция для определения sale_price для

In [963]:
def insert_sale(row):    
    v = row['sale_price']
    #print(v)
    if row['sale_price'] == 0:
        d = row['дата_создания_сделки']
        amo_id = row['amo_id']
        pr = row['prefix']
        #v = 0
        str1 = f'sale_price != 0 & prefix == "{pr}"'
        try:
            #v = df_amo_temp.query(str1).iloc[-1]['sale_price']
            arr = df_amo_temp.query(str1)    
            arr['diff_date'] = arr['дата_создания_сделки'] - d
            arr = arr.sort_values(by='diff_date',ascending=True)
            arr.reset_index(drop= True , inplace= True)
            v = arr.iloc[0]['sale_price']
        except:
            pass
        finally:
            return v
    return v

In [964]:
null_sale_price = df_amo_temp.query('sale_price == 0')

In [965]:
null_sale_price

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834,paper,,design1,sold_used,,0.0,,,,
31,23459939,Успешно_реализовано,0,2023-01-13 11:41:15,2023-01-13 11:42:00,NaN,NaN,NaN,NaN,NaN,NaN,Искусственная_волна,VCW1T_2437849,#23459729,NaN,NaN,NaN,Погашен,2023-05-06,,VCW1T,2437849,electronic,,design1,sold_used,,0.0,,,,
32,23460055,Успешно_реализовано,10000,2023-01-13 11:50:38,2023-01-13 11:59:00,NaN,NaN,Заезд_на_багги_(Варианты:_Занятие_для_одного_1...,10000.0,10000.0,10000,Мото_Дрифт-трайк,VDTM_3651601,NaN,VBGH_2415955DIS,NaN,NaN,NaN,NaT,,VDTM,3651601,electronic,,design1,,,0.0,,,,
38,23466787,Успешно_реализовано,0,2023-01-14 18:11:28,2023-01-18 10:48:00,NaN,NaN,NaN,NaN,NaN,NaN,Снегоходы,S_N2X226233,1715029001,NaN,NaN,NaN,Погашен,2023-03-03,,S,N2X226233,paper,,design1,sold_used,,0.0,,,,
44,23476291,Успешно_реализовано,10000,2023-01-16 14:34:03,2023-01-16 16:17:00,NaN,NaN,"Снегоходы_(Варианты:_1_снежик_на_2_часа,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VKVP2X1_2696914,NaN,VSN2X_2416042DIS,NaN,NaN,NaN,NaT,,VKVP2X1,2696914,electronic,,design1,,,0.0,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2580,26042895,Успешно_реализовано,0,2023-11-19 10:36:50,2023-11-20 12:51:00,NaN,NaN,NaN,NaN,NaN,NaN,Картинг,KAT_154768,#26042871,NaN,NaN,NaN,NaN,NaT,,KAT,154768,paper,,design1,,,0.0,,,,
2582,25821661,Успешно_реализовано,14200,2023-11-19 21:15:54,2023-11-22 11:11:00,NaN,NaN,Подарочный_сертификатна_вейкборд_(Выберите_тип...,14200.0,14200.0,14200,Вейксёрф_и_вейк_за_катером,WS60_239527,NaN,NaN,NaN,TR2K_030782,NaN,NaT,,WS60,239527,paper,,design1,,,0.0,,,,
2594,26095709,Успешно_реализовано,12950,2023-11-23 18:00:18,2023-11-25 12:03:00,450.0,NaN,Искусственная_волна_Flow_Moscow_(Варианты:_1_ч...,12950.0,12500.0,12950,Искусственная_волна,CW2_267873,NaN,TR2K_030117,NaN,NaN,NaN,NaT,,CW2,267873,paper,,design1,,,0.0,,,,
2611,26139623,Успешно_реализовано,11450,2023-11-28 13:06:38,2023-12-02 22:29:00,450.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",11450.0,11000.0,11450,Снегоходы,SN1X_199622,NaN,SN1X_191480,NaN,NaN,NaN,NaT,,SN1X,199622,paper,,design1,,,0.0,,,,
2612,26139797,Успешно_реализовано,0,2023-11-28 13:18:52,2023-12-02 22:30:00,NaN,NaN,NaN,NaN,NaN,0,Снегоходы,SN1X_184479,#26139623,NaN,NaN,NaN,NaN,NaT,,SN1X,184479,paper,,design1,,,0.0,,,,

In [966]:
idx = list(null_sale_price['amo_id'].values)

In [967]:
print(idx)

[23403789, 23459939, 23460055, 23466787, 23476291, 23499379, 23502729, 23513149, 23588587, 23590237, 23596239, 23601589, 23611933, 23623467, 23627015, 23627023, 23627035, 23637617, 24913421, 23665131, 23676913, 23680799, 23681563, 23681577, 23692773, 23706009, 23706073, 23710655, 23714709, 22691287, 23716823, 23716881, 23716895, 23717577, 23718677, 23718687, 23718699, 23719323, 23719721, 23720975, 23724387, 23724611, 23727485, 23729299, 23729319, 23729651, 23729655, 23729661, 23732921, 23737613, 23751513, 23751983, 23759977, 23770797, 23788533, 23778849, 23796679, 23801865, 23803433, 23809097, 23810513, 23810559, 23813621, 23842449, 23845273, 23852821, 23869621, 23873785, 23882253, 23885027, 23897495, 23908115, 23908435, 23918655, 23918783, 23924011, 23924021, 23931579, 23931953, 23959347, 23963995, 23967057, 23972905, 23975143, 23990017, 23990845, 24000379, 24013075, 24029665, 24030639, 24048603, 24056111, 24072509, 24083997, 24084061, 24088395, 24092835, 24098587, 24104865, 24108251, 24119097, 24120549, 24108655, 24048077, 24122263, 24124551, 24128423, 24136623, 24177210, 24177776, 24184388, 24206155, 24207425, 24207679, 24207485, 24209199, 24214637, 24283109, 24285861, 24295849, 24295901, 24295929, 24308797, 24308929, 24310757, 24321529, 24323277, 24324573, 24343649, 24350053, 24350347, 24360787, 24362083, 24370199, 24380121, 24386117, 24402985, 24403237, 24403351, 24407045, 24407599, 24413703, 24413747, 24417659, 24433167, 24434737, 24436793, 24437239, 24437483, 24441731, 24450305, 24460403, 24462079, 24463739, 24464305, 24470939, 24486770, 24511935, 24514453, 24521673, 24524175, 24525169, 24526979, 24527773, 24531685, 24544157, 24549375, 24575627, 24578193, 24595337, 24580153, 24580175, 24580183, 24580195, 24560639, 24584857, 24586641, 24592667, 24596539, 24599637, 24604611, 24606011, 24606999, 24608631, 24611547, 24611905, 24614375, 24615849, 24620003, 24640239, 24643097, 24646167, 24649213, 24650609, 24654685, 24655155, 24656289, 24663991, 24664979, 24665969, 24670071, 24672341, 24676537, 24678509, 24678905, 24693099, 24696037, 24696275, 24708927, 24718623, 24716109, 24721963, 24722951, 24734827, 24740295, 24740393, 24746589, 24752957, 24754809, 24754939, 24757207, 24757289, 24757301, 24819125, 24771161, 24774585, 24777563, 24779567, 24785491, 24788049, 24790553, 24791079, 24807245, 24817595, 24818687, 24819965, 24855063, 24854545, 24864919, 24867945, 24874753, 24875347, 24901233, 24901319, 24906491, 24918947, 24930483, 24930499, 24935309, 24949815, 24955933, 24965161, 24975905, 24986247, 24989577, 24992683, 24996401, 25010135, 25010515, 25011655, 25011677, 25011683, 25014895, 25022693, 25030485, 25045555, 25053731, 25053739, 25070705, 25070945, 25078171, 25084293, 25084647, 25090379, 25100731, 25112995, 25126121, 25113117, 25153497, 25153589, 25156509, 25156527, 25183973, 25190897, 25197379, 25228663, 25262447, 25262457, 25269783, 25273975, 25418131, 25449091, 25478241, 25538207, 25538459, 25538463, 25541327, 25698611, 25885815, 25899441, 25934373, 25938825, 25939051, 25956059, 25988317, 26034025, 26036943, 26042895, 25821661, 26095709, 26139623, 26139797]

In [968]:
df_amo_temp['sale_price'] = df_amo_temp.apply(insert_sale,axis=1)

In [969]:
df_amo_temp.head()

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
0,23400119,Успешно_реализовано,5000,2023-01-02 16:00:55,2023-01-02 16:08:00,0.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",5000.0,5000.0,5000,Снегоходы,VSN1X_2438352,NaN,NaN,NaN,NaN,Погашен,2023-06-02,,VSN1X,2438352,electronic,,design1,sold_used,,5000.0,,,,
1,23400461,Успешно_реализовано,4500,2023-01-02 18:01:25,2023-01-02 18:10:00,NaN,NaN,Полет_на_параплане_(Варианты:_1_полет_с_инстру...,4500.0,4500.0,4500,Параплан,P1G_251473,NaN,NaN,NaN,NaN,NaN,NaT,,P1G,251473,paper,,design1,,,4500.0,,,,
2,23400807,Успешно_реализовано,9000,2023-01-02 20:48:09,2023-01-03 10:18:00,0.0,NaN,"Снегоходы_(Варианты:_2_снежика_на_1_час,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VSN2X_2497270,NaN,NaN,NaN,NaN,Погашен,2023-11-02,,VSN2X,2497270,electronic,,design1,sold_used,,9000.0,,,,
3,23401947,Успешно_реализовано,12345,2023-01-03 11:35:11,2023-01-03 12:19:00,0.0,NaN,Подарочный_сертификат_на_12_345_рублей_-_1x123...,12345.0,12345.0,12345,Универсальный_Мосвейк_12345,VW&F_2421026,NaN,NaN,NaN,NaN,Погашен,NaT,,VW&F,2421026,electronic,,design1,sold_used,,12345.0,,,,
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834,paper,,design1,sold_used,,5000.0,,,,

In [970]:
null_sale_price_after = df_amo_temp.loc[df_amo_temp['amo_id'].isin(idx)]

In [971]:
null_sale_price_after

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
4,23403789,Успешно_реализовано,5000,2023-01-03 21:56:43,2023-01-04 15:19:00,NaN,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,5000,Квадроциклы,KVP1X1_138834,NaN,VKV2X1_2415531DIZ,NaN,NaN,Погашен,NaT,,KVP1X1,138834,paper,,design1,sold_used,,5000.0,,,,
31,23459939,Успешно_реализовано,0,2023-01-13 11:41:15,2023-01-13 11:42:00,NaN,NaN,NaN,NaN,NaN,NaN,Искусственная_волна,VCW1T_2437849,#23459729,NaN,NaN,NaN,Погашен,2023-05-06,,VCW1T,2437849,electronic,,design1,sold_used,,6500.0,,,,
32,23460055,Успешно_реализовано,10000,2023-01-13 11:50:38,2023-01-13 11:59:00,NaN,NaN,Заезд_на_багги_(Варианты:_Занятие_для_одного_1...,10000.0,10000.0,10000,Мото_Дрифт-трайк,VDTM_3651601,NaN,VBGH_2415955DIS,NaN,NaN,NaN,NaT,,VDTM,3651601,electronic,,design1,,,11500.0,,,,
38,23466787,Успешно_реализовано,0,2023-01-14 18:11:28,2023-01-18 10:48:00,NaN,NaN,NaN,NaN,NaN,NaN,Снегоходы,S_N2X226233,1715029001,NaN,NaN,NaN,Погашен,2023-03-03,,S,N2X226233,paper,,design1,sold_used,,NaN,,,,
44,23476291,Успешно_реализовано,10000,2023-01-16 14:34:03,2023-01-16 16:17:00,NaN,NaN,"Снегоходы_(Варианты:_1_снежик_на_2_часа,_Бумаж...",9000.0,9000.0,9000,Снегоходы,VKVP2X1_2696914,NaN,VSN2X_2416042DIS,NaN,NaN,NaN,NaT,,VKVP2X1,2696914,electronic,,design1,,,10000.0,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2580,26042895,Успешно_реализовано,0,2023-11-19 10:36:50,2023-11-20 12:51:00,NaN,NaN,NaN,NaN,NaN,NaN,Картинг,KAT_154768,#26042871,NaN,NaN,NaN,NaN,NaT,,KAT,154768,paper,,design1,,,6000.0,,,,
2582,25821661,Успешно_реализовано,14200,2023-11-19 21:15:54,2023-11-22 11:11:00,NaN,NaN,Подарочный_сертификатна_вейкборд_(Выберите_тип...,14200.0,14200.0,14200,Вейксёрф_и_вейк_за_катером,WS60_239527,NaN,NaN,NaN,TR2K_030782,NaN,NaT,,WS60,239527,paper,,design1,,,8500.0,,,,
2594,26095709,Успешно_реализовано,12950,2023-11-23 18:00:18,2023-11-25 12:03:00,450.0,NaN,Искусственная_волна_Flow_Moscow_(Варианты:_1_ч...,12950.0,12500.0,12950,Искусственная_волна,CW2_267873,NaN,TR2K_030117,NaN,NaN,NaN,NaT,,CW2,267873,paper,,design1,,,12500.0,,,,
2611,26139623,Успешно_реализовано,11450,2023-11-28 13:06:38,2023-12-02 22:29:00,450.0,NaN,"Снегоходы_(Варианты:_1_снежик_на_1_час,_Бумажн...",11450.0,11000.0,11450,Снегоходы,SN1X_199622,NaN,SN1X_191480,NaN,NaN,NaN,NaT,,SN1X,199622,paper,,design1,,,5000.0,,,,
2612,26139797,Успешно_реализовано,0,2023-11-28 13:18:52,2023-12-02 22:30:00,NaN,NaN,NaN,NaN,NaN,0,Снегоходы,SN1X_184479,#26139623,NaN,NaN,NaN,NaN,NaT,,SN1X,184479,paper,,design1,,,5000.0,,,,

In [93]:
str1 = f'sale_price != 0 & prefix == "KVP1X1"'
v = df_amo_temp.query(str1)

In [94]:
v

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at
89,23561917,Успешно_реализовано,5000,2023-01-27 00:28:11,2023-01-27 09:42:00,0.0,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5000.0,5000.0,5000,Квадроциклы,KVP1X1_151326,NaN,NaN,NaN,NaN,Погашен,2023-08-10,,KVP1X1,151326,paper,,design1,sold_used,,5000.0,,,,
159,23665615,Успешно_реализовано,5000,2023-02-12 18:27:04,2023-02-16 16:52:00,0.0,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5000.0,5000.0,5000,Квадроциклы,KVP1X1_150930,NaN,NaN,NaN,NaN,Погашен,2023-12-10,,KVP1X1,150930,paper,,design1,sold_used,,5000.0,,,,
353,23794517,Успешно_реализовано,10000,2023-03-04 12:30:45,2023-03-04 12:40:00,NaN,NaN,Квадроциклы_(Варианты:_1_квадрик_2_часа_с_пасс...,10000.0,10000.0,10000,Квадроциклы,KVP1X1_68697,NaN,NaN,NaN,NaN,NaN,NaT,,KVP1X1,68697,paper,,design1,,,10000.0,,,,
383,23825623,Успешно_реализовано,5000,2023-03-09 14:26:48,2023-03-10 19:42:00,500.0,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5500.0,5000.0,5000,Квадроциклы,KVP1X1_259672,NaN,NaN,NaN,NaN,Погашен,NaT,,KVP1X1,259672,paper,,design1,sold_used,,5000.0,,,,
424,23902297,Успешно_реализовано,5000,2023-03-20 09:36:32,2023-03-22 14:30:00,500.0,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5500.0,5000.0,5000,Квадроциклы,KVP1X1_145512,NaN,NaN,NaN,NaN,Погашен,NaT,,KVP1X1,145512,paper,,design1,sold_used,,5000.0,,,,
425,23902879,Успешно_реализовано,5500,2023-03-20 10:52:44,2023-03-23 15:54:00,500.0,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5500.0,5000.0,5500,Квадроциклы,KVP1X1_199463,NaN,NaN,NaN,NaN,Погашен,NaT,,KVP1X1,199463,paper,,design1,sold_used,,5000.0,,,,
438,23922623,Успешно_реализовано,5000,2023-03-23 09:19:09,2023-03-25 18:52:00,NaN,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5000.0,5000.0,5000,Квадроциклы,KVP1X1_196623,NaN,NaN,NaN,NaN,Погашен,NaT,,KVP1X1,196623,paper,,design1,sold_used,,5000.0,,,,
480,23973519,Успешно_реализовано,5000,2023-03-30 15:34:39,2023-04-01 17:42:00,NaN,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5000.0,5000.0,5000,Квадроциклы,KVP1X1_193739,NaN,NaN,NaN,NaN,Погашен,NaT,,KVP1X1,193739,paper,,design1,sold_used,,5000.0,,,,
813,24324971,Успешно_реализовано,5350,2023-05-17 20:11:32,2023-05-19 13:59:00,NaN,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5000.0,5000.0,5350,Квадроциклы,KVP1X1_177017,NaN,NaN,NaN,NaN,Погашен,2023-03-10,,KVP1X1,177017,paper,,design1,sold_used,,5000.0,,,,
905,24389017,Успешно_реализовано,5600,2023-05-25 11:05:28,2023-05-26 08:44:00,600.0,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5600.0,5000.0,5600,Квадроциклы,KVP1X1_137725,NaN,NaN,NaN,NaN,Погашен,NaT,,KVP1X1,137725,paper,,design1,sold_used,,5000.0,,,,
1067,24479765,Успешно_реализовано,5000,2023-06-06 12:26:12,2023-06-06 13:42:00,0.0,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5000.0,5000.0,5000,Квадроциклы,KVP1X1_165798,NaN,NaN,NaN,NaN,NaN,NaT,,KVP1X1,165798,paper,,design1,,,5000.0,,,,
1815,24918087,Успешно_реализовано,5000,2023-07-27 16:33:25,2023-07-27 17:49:00,NaN,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5000.0,5000.0,5000,Квадроциклы,KVP1X1_172502,NaN,NaN,NaN,NaN,NaN,NaT,,KVP1X1,172502,paper,,design1,,,5000.0,,,,
1966,25039649,Успешно_реализовано,5000,2023-08-08 14:48:29,2023-08-09 11:45:00,NaN,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5000.0,5000.0,5000,Квадроциклы,KVP1X1_137700,NaN,NaN,NaN,NaN,Погашен,NaT,,KVP1X1,137700,paper,,design1,sold_used,,5000.0,,,,
1980,25044777,Успешно_реализовано,5450,2023-08-09 16:23:34,2023-08-11 09:21:00,450.0,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5000.0,5000.0,5450,Квадроциклы,KVP1X1_158757,NaN,NaN,NaN,NaN,NaN,NaT,,KVP1X1,158757,paper,,design1,,,5000.0,,,,
2234,25252547,Успешно_реализовано,5450,2023-09-07 00:10:46,2023-09-09 11:46:00,450.0,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5450.0,5000.0,5450,Квадроциклы,KVP1X1_293302,NaN,NaN,NaN,NaN,NaN,NaT,,KVP1X1,293302,paper,,design1,,,5000.0,,,,
2359,25424339,Успешно_реализовано,5000,2023-09-27 12:32:01,2023-09-29 12:50:00,NaN,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5000.0,5000.0,5000,Квадроциклы,KVP1X1_297840,NaN,NaN,NaN,NaN,NaN,NaT,,KVP1X1,297840,paper,,design1,,,5000.0,,,,
2391,25527309,Успешно_реализовано,5000,2023-10-03 15:49:06,2023-10-05 11:23:00,450.0,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5450.0,5000.0,5000,Квадроциклы,KVP1X1_199253,NaN,NaN,NaN,NaN,Погашен,2023-07-10,,KVP1X1,199253,paper,,design1,sold_used,,5000.0,,,,

In [95]:
from datetime import datetime

# Example with the standard date and time format
date_str = '2023-03-20 10:52:44'
date_format = '%Y-%m-%d %H:%M:%S'

date_obj = datetime.strptime(date_str, date_format)
#t = '2023-03-20 10:52:44'
#pd.to_datetime(df['I_DATE'])

In [96]:
k = df_amo_temp.copy()

In [97]:
k['diff_date'] = abs(k['дата_создания_сделки'] - date_obj)

In [98]:
k = k.sort_values(by='diff_date',ascending=True)

In [99]:
k.reset_index(drop= True , inplace= True)

In [100]:
k = k.drop(index=0)

In [101]:
k.head(10)

,amo_id,этап_сделки,бюджет,дата_создания_сделки,sale_date,delivery_price,стоимость_доставки,products,price,subtotal,выручка_от_клиента,направление_(вид_сертификата),code,корневая_сделка,номер_2-го_сертификата,сертификат_на_фотографа,сертификат_на_тренера,статус_погашения,card_used_date,id,prefix,number,card_type,series,design_type,status,stock_status,sale_price,expiry_date,created_at,updated_at,deleted_at,diff_date
1,23902297,Успешно_реализовано,5000,2023-03-20 09:36:32,2023-03-22 14:30:00,500.0,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_с_пасса...,5500.0,5000.0,5000,Квадроциклы,KVP1X1_145512,NaN,NaN,NaN,NaN,Погашен,NaT,,KVP1X1,145512,paper,,design1,sold_used,,5000.0,,,,,0 days 01:16:12
2,23906061,Успешно_реализовано,12100,2023-03-20 16:11:55,2023-03-22 07:50:00,0.0,NaN,Аэротруба_(Варианты:_6_минут_полёта_(для_1-2_ч...,11200.0,11200.0,12100,Аэротруба,AT6_213999,NaN,NaN,NaN,NaN,Погашен,NaT,,AT6,213999,paper,,design1,sold_used,,11200.0,,,,,0 days 05:19:11
3,23908115,Успешно_реализовано,0,2023-03-20 21:14:58,2023-03-22 07:51:00,NaN,NaN,NaN,NaN,NaN,NaN,Аэротруба,AT6K_023008,#23906061,NaN,NaN,NaN,Погашен,NaT,,AT6K,023008,paper,,design1,sold_used,,0.0,,,,,0 days 10:22:14
4,23908435,Успешно_реализовано,4200,2023-03-20 23:20:25,2023-03-22 14:57:00,0.0,NaN,Подарочный_сертификатна_вейкборд_(Выберите_тип...,4200.0,4200.0,4200,Вейксёрф_и_вейк_за_катером,WS20_188511,NaN,NaN,NaN,TR2_220734,Погашен,2023-12-08,,WS20,188511,paper,,design1,sold_used,,0.0,,,,,0 days 12:27:41
5,23899989,Успешно_реализовано,5700,2023-03-19 21:40:53,2023-03-19 23:36:00,0.0,NaN,Подарочный_сертификатна_вейкборд_(Выберите_тип...,5700.0,5700.0,5700,Вейксёрф_и_вейк_за_катером,VWS30T_2728643,NaN,NaN,NaN,NaN,NaN,NaT,,VWS30T,2728643,electronic,,design1,,,5700.0,,,,,0 days 13:11:51
6,23898263,Успешно_реализовано,3300,2023-03-19 16:31:25,2023-03-20 21:20:00,700.0,NaN,катание_на_картинге_(Варианты:_20_минут_катани...,3300.0,2600.0,3300,Картинг,KA2_294513,NaN,NaN,NaN,NaN,NaN,NaT,,KA2,294513,paper,,design1,,,2600.0,,,,,0 days 18:21:19
7,23897495,Успешно_реализовано,13200,2023-03-19 13:38:43,2023-03-21 09:31:00,700.0,NaN,Искусственная_волна_Flow_Moscow_(Варианты:_1_ч...,13200.0,12500.0,13200,Искусственная_волна,CW2_020814,NaN,NaN,NaN,TR2_220644,Погашен,NaT,,CW2,020814,paper,,design1,sold_used,,0.0,,,,,0 days 21:14:01
8,23896621,Успешно_реализовано,9000,2023-03-19 10:37:56,2023-03-21 09:30:00,0.0,NaN,Квадроциклы_(Варианты:_2_квадрика_на_1_час_без...,9000.0,9000.0,9000,Квадроциклы,KV2X1_197558,NaN,NaN,NaN,NaN,NaN,NaT,,KV2X1,197558,paper,,design1,,,9000.0,,,,,1 days 00:14:48
9,23910753,Успешно_реализовано,4500,2023-03-21 11:28:22,2023-03-21 11:38:00,0.0,NaN,Квадроциклы_(Варианты:_1_квадрик_1_час_без_пас...,4500.0,4500.0,4500,Квадроциклы,VKV1X1_2741578,NaN,NaN,NaN,NaN,Погашен,NaT,,VKV1X1,2741578,electronic,,design1,sold_used,,4500.0,,,,,1 days 00:35:38
10,23906549,Успешно_реализовано,5500,2023-03-21 14:06:56,2023-03-25 18:52:00,500.0,NaN,"Катер_без_капитана_(Варианты:_1_час_проката,_Б...",6000.0,5500.0,5500,Катер_без_капитана_(Летолодка),LL1H_151254,NaN,NaN,NaN,NaN,NaN,NaT,,LL1H,151254,paper,,design1,,,5500.0,,,,,1 days 03:14:12

In [102]:
k.iloc[0]['sale_price']

5000.0